[2010-09-18 19:01] arunreddy opened #1 "IR Reciever code doesnt work while using shiftOut() function."
When shiftOut() function is being used in the code along with IR Remote library. The Reciever doesnt detect the key press.

ShiftOut : http://arduino.cc/en/Reference/ShiftOut

[2011-04-04 14:53] codexmas opened #5 "Interrupts and other Libraries"
Hey there, thought I would post on the problem I am having, maybe there is a simple solution?

I am using IRRemote to allow an Arduino Nano(168) to be the remote controller for a device that is controlled Via Serial commands.

I am also using the NewSoftSerial library and when I attempt to send Serial data that has been recieved from one serial port to another serial port (relay debugging) several

[2012-07-10 08:43] bschaeffner opened #12 "Problem with Arduino Leonardo?"
I want to use the Arduino Leonardo with the IRRemote Code but i became this error:

In file included from C:\Program Files\ARDUINO\arduino-1.0.1-windows\libraries\IRremote\IRremote.cpp:17:
C:\Program Files\ARDUINO\arduino-1.0.1-windows\libraries\IRremote\/IRremoteInt.h:331:2: error: #error "Please add OC4A pin number here\n"
C:\Program Files\ARDUINO\arduino-1.0.1-windows\libraries\IRremote\IRremot

[2012-08-24 02:58] lxbzmy opened #14 "about RC5 second bit and RC6 mode6"
Hi author,
First of all, this a good script and I like it.
 After  researched  many specification about RC5 and RC6 (gogole pronto.pdf),
After researching many specifications about RC5 and RC6 I found [this](http://www.majority.nl/files/pronto.pdf ?)

I found that your RC5 RC6  function need patch to support RC5x and RC6A.

This is my patched version:

[code]

[2012-08-26 12:54] artalat opened #15 "Zigduino Compatibility"
Hey, my code is working fine with Arduino UNO but it's not working with Zigduino (Arduino Compatible board). The board uses ATmega128RFA1 MCU. Any ideas how to make it work?

Zigduino URL: http://logos-electro.wikidot.com/zigduino

[2012-08-27 03:21] dandroid88 opened #16 "NEC frequency (actually repetition and not frequency)"
Hi Ken (all),

I have been trying to use this library with my Pioneer stereo (VSX-521-K) however I was having issues.  It uses one of the NEC protocols however the modulation frequency is not 38 khz.  I added a loop to go from 36khz through 41 khz and that solved it.  I don't necessarily think this is what you would want to bake into the library however I was thinking about adding a "freq" paramet

[2012-09-16 21:46] mdymel opened #18 "Arduino Uno and port 3"
Port 3 is used for sending IR codes. In my sketch, I use it for different purposes and need it as PWM port. IRremote shouldn't use this port if it's not needed.

After calling irrecv.enableIRIn(); analogWrite works only for HIGH or LOW values.

[2012-11-04 00:06] Neco777 opened #20 "Multiple receivers support"
Hello,

I worked on my project for arduino and I used IRremote library for receive IR signals. I found that the library did not support several IR receivers (connected to different pins) on a single Arduino.
The root cause of this (as far as I understood) is variable "volatile irparams_t irparams" in IRremote.cpp and "ISR(TIMER2_OVF_vect)" procedure. I made some minor changes to make it working fo

[2013-01-20 14:46] probonopd opened #21 "JVC commands need to be sent three times"
This is just to let others know that some JVC devices (in my case, a 2007 JVC TFT TV) apparently ignore commands if they are not sent three times with appropriate timing in between. To me this was not clear from reading the JVC spec at http://support.jvc.com/consumer/support/documents/RemoteCodes.pdf so I spent a lot of time and in the end found the solution by comparing what the original remote s

[2013-03-27 18:12] 8163jb opened #23 "Arduino Due Compatability"
Is it possible to make this compatible with the Arduino Due? If so how? :) Cheers very much

[2013-03-30 21:49] Hackmodford opened #24 "Vizio Compatability"
Does this library work with the Vizio remotes? I can't seem to get anything coherent to be read. It always seems to be random values.

The same thing goes for a Sony remote I have too.

[2013-04-02 04:13] maddoggarage opened #25 "IRsendDemo won't compile"
Error messages are:
IRsend does not name a type
irsend was not declared in this scope

[2013-05-02 23:06] alexandruy2k opened #28 "NEC send repeat"
Using the NEC protocol the library can detect repeat codes and marks them as 0xFFFFFFFF, however if I need to send a repeat code I can't get it to work.

tried irsend.sendNEC(REPEAT, 0)
  irsend.sendNEC(REPEAT, 4)
and  irsend.sendNEC(REPEAT, 32)

but none of these result in the NEC protocol repeat code
Is there a way to do it? If I get a quick hint at how to do it I can write it myself and submit

[2013-05-22 04:45] wilagobler opened #29 "IRsend::space(0) causes 16ms delay"
The library frequently uses space(0) to turn off transmission at the end of sending. space(0) in turn calls delayMicroseconds(0) which gives a longer delay then expected. See https://github.com/arduino/Arduino/issues/1121

[2013-06-14 15:12] X-Y opened #30 "Multiple definition of "MATCH" error when running IRtest"
When compiling IRtest example, there's an error "In IRremoteInt.h, Multiple definition of 'MATCH', 'MATCH_MARK' and 'MATCH_SPACE'." The issue can be solved by moving the 3 function definitions from IRremoteInt.h to IRremoteInt.cpp

[2013-07-31 18:30] ddres0605 opened #35 "Sending just a bunch of numbers."
How do I send, lets say "11010001", have it received then put into an array?

[2013-08-07 20:34] matthijskooijman opened #36 "SONY_DOUBLE_SPACE_USECS used wrongly?"
SONY_DOUBLE_SPACE_USECS is defined to 500, apparently meaning 500us. However, the code that uses it says:

[code]

Which looks like it compares with number of ticks, not microseconds. Effectively this means that this code is triggered whenever there are less than 25ms between two signals.

This looks wrong, but I'm not actually sure what this code is supposed to do, so I can't really suggest a use

[2013-08-25 18:36] darcwader opened #37 "Receiver Decode Hangs after immediate send"
I am trying to send a NEC code after receiving a Raw Code and the next loop decode does not work.

void loop () {
 if (irrecv.decode(&results)) {//hangs on this line after first sendNEC.
     unsigned long hash = decodeHash(&results);
    if(hash == 0xDAEA83EC) {
      irsend.sendNEC(codeChUp,32);//does not send this
    }
    irrecv.resume();
  }
}

idea is to throw away one remote and use unused

[2013-09-03 19:54] PL76 opened #38 "decode_results filled with erroneous data"
I am having an issue with IR receive. I can send IR codes with no issues at all.
I have output to serial monitor for decode_results and every loop it is filled with erroneous data. It is as if my IR receiver is being flooded from another IR source. I hooked up my scope and it only is sending information when I press my remote. But my remote commands only work about 10% of the time because of the f

[2013-09-03 20:09] benquan opened #39 "Add support for ATtiny85"
Could someone help with adding support for Attiny85?

I think Joshuajnoble added support for Attiny84 and had in mind to continue with the 85 later.

Thanks!

[2013-09-29 23:53] cannondale opened #41 "NEC_ONE_SPACE value is low"
#define NEC_ONE_SPACE    1600

should be:

#define NEC_ONE_SPACE    1692

Noticed this when comparing signals produced by irsend.sendNEC with actual signals captured from NEC protocol remotes. The one spaces are consistently short.

Some references for the NEC protocol:

http://wiki.altium.com/display/ADOH/NEC+Infrared+Transmission+Protocol

http://www.techdesign.be/projects/011/011_waves.htm

htt

[2013-11-22 00:24] aaronsnoswell opened #43 "Add Invert Functionality"
It would be helpful to have an option to invert the IR signal output this library generates.

[2013-11-22 00:25] aaronsnoswell opened #44 "Add Demodulation Functionality"
It would be helpful to have an option to disable the output modulation on the IR signals output this library generates.

[2014-02-02 15:13] toffyrn opened #49 "Support for long codes"
I am trying to reverse engineer my heat pump's (Mitsubishi) remote control. The control seems to do large transmits, but strange things happens when increasing RAWBUF to 256 or beyond.

When having RAWBUF=254 the transmit starts with [34362,3350 1650,450 1200,450 ...].
Having RAWBUF=256 the transmit starts with [1200,450 350,450 450,400 ...].

It seems like the raw data no longer starts at the beg

[2014-02-03 09:11] robots42 opened #50 "Sony [Key0] receive - irrecv.decode(&results) never returns to 0 for no IR"
Sony [Key0] receive - irrecv.decode(&results) never returns to 0 for no IR.
For all the other keys
   irrecv.decode(&results)==1 if [a key] is pressed
   irrecv.decode(&results)==0 after [a key] is released
For [key 0] irrecv.decode(&results) locksup at 1 until a different key is pressed and released.
Tested with a genuine Sony Triniton IR remote and a PicAxe TVR010 IR remote, both give the same f

[2014-02-07 11:30] JimboRoberson opened #52 "IRREMOTE SKETCH CODE ETC!"
Hey, I first would like to say for who ever is going to  help me  I am a rookie at this so please bear with me. I have a strong back ground in Electrical. Been learning micro programming and electronic on my only for the past 3 months. Did a lot of programing in school but not of this kind. So lets get started.

What I am trying to do is take a remote control that works my TV and get the code so t

[2014-02-15 06:11] muddster opened #53 "Error regarding Arduino 1.5.5 r2"
The IR Receiver program worked fine with the 1.01 IDE but would not compile with 1.5.5 r2
the error was as follows:

C:\Program Files (x86)\Arduino\libraries\RobotIRremote\src\IRremoteTools.cpp:5: error: 'TKD2' was not declared in this scope

Any ideas on how to fix this problem?

[2014-03-19 12:46] emuboy opened #55 "Lego power function remote support."
Should be nice to have the Lego power function remote support, the protocoll is well know:

http://www.hackvandedam.nl/blog/?page_id=559

I have the 8885 dual joystick, eventually I can test it if needed.

[2014-03-19 15:48] Ion3 opened #56 "Feature request: Implement B&O protocol"
Is it possible to implement the Bang & Olufsen protocol based on this project?

https://github.com/christianlykke9/Beomote

I would love to have the possibility to send B & O signals with my Arduino!

[2014-03-20 12:40] DC-Graphics opened #57 "Conflict with TLC Library"
Looks like the timers / interrupts dont come along good.
Any ideas?

[2014-04-14 22:01] thorphar opened #58 "IR LED"
I saw an article on how to use a ir receiver and got some decimal numbers back through the serial line. I used the lib function (((   Serial.println(results.value, DEC);  ))) . How can I emit the same code in dec using a ir led ??

Oh by the way I get a UNKNOWN decode back

[2014-04-24 10:27] GuySawyer opened #59 "IRremote for node"
Good day

Looks good what you have done here. Just a question from me.

I am using a beaglebone black and trying to build an IR transceiver. I need to record IR signals and then send them, all from within a Node.js application on the beaglebone. Do you know of anyone that has done something similar?

[2014-05-23 09:40] sstefanov opened #63 "Added Samsung protocol"
Added Samsung protocol

[2014-05-26 17:48] vicatcu opened #64 "Board selection doesn't define symbol __AVR_ATtinyX4__?"
Not sure why, just tested in Arduino 1.0.5 and had to directly hardcode this #define in the IRremoteInt.h to use the library on an ATtiny84. I had selected "ATtiny84 internal 8MHz clock)" from the Boards menu. Also grepped the entire arduino installation directory for __AVR_ATtinyX4__ and got no hits... is it meant to be automatically configured by the IDE or is the hardcoding the expected way to

[2014-05-30 11:17] hasamoder opened #65 "irrecv & irsend Confliction"
When running this code it works well until IR-send is started and then IR-recieve no longer works. This could be a code issue but I see no problem, after IR-Send is started IR-Recieve will no longer pickup any IR signals.

Any suggestions?

[code]

[2014-07-19 19:24] jbakar opened #71 "Transmit LED not sending signal on IRrecord example"
Hi,

When I test the IRrecord example, I'm not able to get the transmit LED working. The receiving works fine.

Using the same hardware set up, I'm able to transmit signal when I run the IRsendDemo sketch alone. With information obtained from IRrecord, I'am able to replay the signal within the IRsendDemo sketch but not when I use the IRrecord; that supposed to be capable of receiving, buffering th

[2014-07-22 08:13] ChinLeongTan opened #72 "Ethernet stops working"
Hi, I am using the “JVCPanasonicSendDemo” code with an Arduino Uno and Ethernet shield as a web server, it seems to me that “IRremote.h” has somehow stopped the Ethernet from working properly.
Would anyone kind enough to advise? Thank you in adv.

[2014-09-04 00:09] maxhawkdown opened #79 "error compiling on ATmega8"
Dear all,
i try to use IRrecvDemo.ino but it error like below.

../avr/bin/ld.exe: IRrecvDemo.cpp.elf section .text will not fit in region text
/../avr/bin/ld.exe: region text overflowed by 50 bytes

if cause error is overflowed, how can i disable some decode protocol?

[2014-09-07 20:16] stephanfriedrich opened #80 "Library Name Error"
hy i have the arduino IDE version 1.0, and get an Name Error for your Folder.
Because of the hyphen in your Folder Name.

[2014-09-10 05:50] x10iman opened #81 "How to control generic AC"
I managed to record and send the IR signal of my General AC unit and another Chinese brand unit by increasing the RAWBUF to 250 and the USECPERTICK to 100.

[2014-09-18 20:13] roobre opened #86 "Quick question about sendRaw"
Hi there,

I have a few questions about how to use sendRaw, specifically about the `int nbits` parameter. Should I set this to the number of bits of the array passed as `data`, or does it have other meaning (like some internal value used for encoding)?

Thanks in advance ^-^

[2014-09-18 20:27] modqhx opened #87 "Casio projector"
Hey great work! Having issues with controlling a Casio projector(green slim)..
So on running the IRrecord or IRRecv sketch, when I press,let's say the "ON" button on the projector's remote, I get -->
(also printing out out the codeLen turns out to be 20)
`Received NEC: 212F20DF`
`20`
`Received NEC: repeat; ignoring.`

But when I compile the IRSendDemo sketch with same code: projector does not seem

[2014-09-20 22:59] braice opened #88 "Marantz remote"
Hello

I have a Marantz RC003PM remote which seems to use a special protocol
http://lirc.10951.n7.nabble.com/Marantz-RC5-22-bits-Extend-Data-Word-possible-with-lircd-conf-semantic-td9784.html

Can you give me hints on how to implement it in the Arduino IRremote librairy ? I am not (yet) familiar with IR protocols

Thanks

[2014-09-22 23:33] PaulStoffregen opened #89 "Transmit timing is sensitive to other library ISR"
The mark() and space() functions use delayMicroseconds(), which is only accurate when no other libraries are consuming much CPU time in their interrupts.

Someday, I'm going to redesign the transmission code to use the timer ISR to enable/disable the PWM output, for reliably transmit timing even when other libraries consume significant CPU time.

This issue is mainly just a reminder to myself to w

[2014-10-13 16:43] saulofr opened #91 "Arduino Due and IDE 1.5.7"
Hi,

This problem is occurring in IDE 1.5.7 with the arduino Due.

Arduino: 1.5.7 (Windows 8), Placa:"Arduino Due (Programming Port)"

WARNING: library Robot IR Remote claims to run on [avr] architecture(s) and may be incompatible with your current board which runs on [sam] architecture(s).

IRsendDemo.ino:11:1: error: 'IRsend' does not name a type
IRsendDemo.ino: In function 'void loop()':
IRsend

[2014-10-16 14:09] CrabbyPete opened #93 "Unexpected codeType 9"
I am using an old Sony radio cassette remote control and testing with the example code. On these remotes the signal is pulsed out repeatedly. The IR gets it right the first time, but afterwords gets Unexpected codeType 9 and a value of FFFFFFFF

[2014-11-09 09:14] SuperFabius opened #96 "Bug on Atmega8 Fix"
Making a simple IR code sender using IRremote library, an IR led and an Atmega8, I noticed a problem after sending the IR code: all time related commands (like millis(), delay(), etc.) stopped to work.
The same sketch runs without any issue on a Atmega328.

See here the bug explanation and how to fix it:

http://forum.arduino.cc/index.php?topic=277528.0

[2014-11-09 16:25] Xylynx opened #97 "ATtiny85/45 and ATtiny 84/44 support"
When I try and and compile any sketch utilizing the IRremote for a ATtiny 85/45 or a ATtiny 84/84 get a slew of errors. For both devices the errors are related to the timers. I am using the arduino-tiny cores.

Regards
Nathan

[2014-11-15 21:53] farzher opened #98 "'TKD2' was not declared in this scope"
![arduinounoerror](https://cloud.githubusercontent.com/assets/1005136/5059405/ef50c150-6ce7-11e4-903e-ad6eaf1a24d8.PNG)

[2014-12-07 18:45] SorX14 opened #101 "Interrupt on Leonardo and PWM pin 6"
I'm just using the output of the library, specifically the NEC remote codes. I'm also using PWM on pin 6, which stops functioning as a PWM pin, and acts as if its a standard digital pin (only `HIGH` and `LOW`).

Now, I understand that on the Leonardo (ATmega32u4) that Timer 4 is being used to modulate the output for the IR LED's, but it also deals with PWM on pin 6. As I've made a PCB and didn't b

[2015-01-04 13:38] ipa64 commented on #72
Hi, did you solved your problem? I have the same issue.

[2015-01-04 17:00] ipa64 commented on #72
Ok, now it's working,  I have to use pin 8 for IR input, then because my application was using 3 PWM outputs 3,5,6 I had to modify to use 5,6,9.

[2015-01-19 08:47] sandhysanjaya commented on #98
Hai, Just rename your Folder library... Like this From "IR" to "IRremote"
thats default i think

[2015-01-22 03:08] joshuajnoble commented on #98
Yes, it's out of our hands unless we rename the whole library, which I'd prefer not to do.

[2015-01-24 04:20] novasdream opened #103 "__vector_7 Compatibility Issue"
[code]

That is error message..
A few libraries have some common pins in timers.

[2015-01-24 05:56] joshuajnoble commented on #103
This actually means that Tone is trying to use the same interrupt as IRremote. There's a lot of discussion around this on the Arduino forums [here](http://forum.arduino.cc/index.php/topic,106043.msg959970.html) for instance.

[2015-01-24 15:28] varshu opened #104 "Library incompatibility with Atmega 8"
I was compiling the code on 'arduino NG or older w/ atmega8' and I got the following error.
![capture](https://cloud.githubusercontent.com/assets/6443843/5887828/90f63d0a-a40b-11e4-917e-8b987675a769.PNG)

The code:

![image](https://cloud.githubusercontent.com/assets/6443843/5887875/8238b430-a40d-11e4-9277-6e3041e722f7.png)

The code runs in Arduino UNO. How to fix this? How to make the library wo

[2015-01-27 20:12] Anadhino commented on #20
Hi Neco777 and Pingsut, Please help me.
i'm tring your lib but i have the same problem, i have 2 recivers on my arduino uno,  just one reciever work, not the second. I dont know if something is wrong, or if i have to modified something else. I copied your lib into Arduino/Librairies. Please i need some example using your lib. PLEASE HELP ME
 this is my code :

#include <IRremote.h>
#include "U8gli

[2015-01-27 20:25] jan0e commented on #20
You forgot a "2" in the code for the second receiver. irrecv.resume() should be irrecv**2**.resume(), I guess. Also consider to use a [gist](https://gist.github.com/) next time you want to share a lot of code.

[2015-01-27 20:46] Anadhino commented on #20
Thanks you soo much for your help guys it work very Well. Excuse me for the code. next time i willl add a link. excuse my english i'm a from france. THANKS.

[2015-01-28 17:47] joshuajnoble commented on #104
This seems to indicate that the program is too large to fit in the program space afforded by the Atmega 8. I wonder if it would fit if you modify the library to remove all the defines and info for remotes other than the one that you're using.

[2015-02-07 13:26] auspex-nl commented on #12
Probably too old an issue, but I got a cheap sparkfun pro micro clone which lacks a pin 13 too.
I fixed it by changing a couple lines in IRremoteInt.h to make it use Timer 3 & pin 5:

[code]
and

[code]

I can now send IR commands with a IR led on pin 5. Hope this helps anyone with a similar board.

[2015-02-09 02:41] #12 closed

[2015-02-16 13:22] joshl1995 commented on #25
I'm having the same problem, I have followed the installment instructions that were included with the library. Still nothing, I read somewhere before that the author posted that it was the Arduino, that doesn't even make sense because wasn't the library made to work on it?

[2015-02-16 18:42] PaulStoffregen commented on #25
First, delete the Robot libraries.  They interfere with IRremote.

If that doesn't solve your problems, you'll need to turn on verbose info while compiling in File > Preferences.  Then you can copy-and-paste detailed info about what actually happened and the actual error message into your request for help.

In Arduino 1.6.0 (just recently release), there's a "Copy Error Messages" button that appea

[2015-02-17 10:16] joshl1995 commented on #25
Thanks it worked!

------------------------------------------------------------
Randoma Programming, inc.
Email: contact@randoma.co
Website: http://randoma.co

From: Paul Stoffregen
Sent: Tuesday, February 17, 2015 5:42 AM
To: shirriff/Arduino-IRremote
Cc: Josh
Subject: Re: [Arduino-IRremote] IRsendDemo won't compile (#25)

First, delete the Robot libraries. They interfere with IRremote.

If that

[2015-03-06 16:59] PaulStoffregen commented on #25
A permanent fix for this problem is currently in limbo on Arduino's issue tracker.

https://github.com/arduino/Arduino/pull/2681

Please please please, if you encounter this problem, download and test the PR2681-BUILD191 copy of Arduino from that page.  If it works for you, please post some feedback on that pull request.  As more people test PR2681-BUILD191 and confirm it works, the odds of the Ar

[2015-03-07 02:44] z3t0 commented on #103
Take a look here, replacing the Tone Library may solve your problem.
https://code.google.com/p/arduino-new-tone/

This issue is with Arduino Software and not specifically this library

[2015-03-07 02:45] z3t0 commented on #93
Have you tested this with the example provided? If not please provide the sketch used.

[2015-03-07 02:46] z3t0 commented on #91
@victornpb solution worked for me. Is this a problem with Arduino Software or a library conflict in this specific case?

[2015-03-07 02:47] z3t0 commented on #86
I'm guessing this issue is solved? If not please let us know any other questions we can help with.

[2015-03-07 02:56] z3t0 commented on #72
@ChinLeongTan Please close this issue if the problem has been solved. If not please provide more details so we can help.

[2015-03-07 02:58] z3t0 commented on #80
Please read the README,md as it explains how to install the library.
[code]

[2015-03-07 02:58] #80 closed

[2015-03-07 03:03] z3t0 commented on #52
@JimboRoberson I assume this issue has been resolved? If not please let us know how we can help. It is quite unclear from reading the comments above.

[2015-03-07 03:09] z3t0 commented on #97
@Xylynx This issue seems to have been solved by manually updating winAVR to the latest version. If there are still questions related to this issue feel free to reopen it.

[2015-03-07 03:09] #97 closed

[2015-03-07 03:11] z3t0 commented on #88
@braice Reading from the forum leaves it unclear whether or not this has been solved. If not please provide more details as to how we can help you.

[2015-03-07 03:12] z3t0 commented on #81
@x10iman not sure if this is an issue or not, maybe it should be added to a wiki for this library?

[2015-03-07 03:17] z3t0 commented on #79
@maxhawkdown Please refer to issue #104 as it is likely to yield results.

[2015-03-07 03:17] #79 closed

[2015-03-07 03:18] z3t0 commented on #71
@jbakar Have you been able to fix this yet?

[2015-03-07 03:27] z3t0 commented on #103
@novasdream This issue is being closed as it is not related to this library specifically but rather the Arduino Library Tone (maybe others too). Please follow [here](https://code.google.com/p/arduino-new-ping/wiki/HELP_Error_Vector_7_When_Compiling) instead.

It's not the same library but outlines the problem in more detail and what causes it

[2015-03-07 03:27] #103 closed

[2015-03-07 03:31] z3t0 commented on #65
@hasamoder Issue closed.
Solution: After sending you must call enableIRIn() to receive again.

[2015-03-07 03:31] #65 closed

[2015-03-07 04:02] z3t0 commented on #104
@varshu Issue will be closed as this is a board dependent issue, and the board does not have enough memory space to load this library.
**Possible Solution**: Remove defines in the library that are unneeded to try and make the library small enough to fit on the board.

[2015-03-07 04:02] #104 closed

[2015-03-07 04:03] z3t0 commented on #64
@vicatcu Issue is being closed as this is a board-specific problem and not a compatibility issue, the board does not have enough memory for this library. This is also a common issue, refer to #104

[2015-03-07 04:03] #64 closed

[2015-03-07 04:05] z3t0 commented on #63
@sstefanov This is not an issue, if you would like to merge your commits with this repository please open a Pull Request.

[2015-03-07 04:05] #63 closed

[2015-03-07 04:05] z3t0 commented on #63
Also, it seems that this is already a part of the library (unconfirmed)

[2015-03-07 05:04] x10iman commented on #81
It would be greate. But does this increase affect the code?

[2015-03-07 05:14] z3t0 commented on #81
@x10iman not sure, where did you change the RAWBUF and USECPERTICK values?

[2015-03-07 05:35] x10iman commented on #81
I will let you know once I get back home in few hours.

[2015-03-07 05:38] z3t0 commented on #25
@PaulStoffregen Should this be marked as solved as the issue is not pertaining to this library, rather the Arduino Library *RobotIRRemote*

[2015-03-07 05:40] z3t0 commented on #96
@SuperFabius This issue will be closed and will be added to the wiki along with the revamping of all the documentation. Thank you very much for this contribution!

[2015-03-07 05:40] #96 closed

[2015-03-07 05:45] z3t0 commented on #89
@PaulStoffregen Just a reminder about this issue. Also, if things have changed and this will not be added we should mark as closed.

[2015-03-07 05:49] z3t0 commented on #59
@GuySawyer The issue is being closed as it has been over 3 months since any activity and there does not seem to be any pending question. If the issue is not solved simply reopen it and label as 'New'

[2015-03-07 05:49] #59 closed

[2015-03-07 05:51] z3t0 commented on #58
@thorphar The issue is being closed as it has been over 3 months since any activity and there does not seem to be any pending question. If the issue is not solved simply reopen it and label as 'New'

[2015-03-07 05:51] #58 closed

[2015-03-07 05:51] z3t0 commented on #57
Can you please be more specific?

[2015-03-07 05:52] z3t0 commented on #57
@DC-Graphics The issue is being closed as it has been over 3 months since any activity and there does not seem to be any pending question. If the issue is not solved simply reopen it and label as 'New'

[2015-03-07 05:53] z3t0 commented on #56
@Ion3 The issue is being closed as it has been over 3 months since any activity and there does not seem to be any pending question. If the issue is not solved simply reopen it and label as 'New'. This will be considered as an idea for a future library.

[2015-03-07 05:53] #56 closed

[2015-03-07 05:54] z3t0 commented on #55
@emuboy I would like to help work on this, please comment if you are still interested.

[2015-03-07 05:55] z3t0 commented on #55
@emuboy The issue is being closed as it has been over 3 months since any activity and there does not seem to be any pending question. If the issue is not solved simply reopen it and label as 'New'.

[2015-03-07 05:55] #55 closed

[2015-03-07 08:34] ericwertz commented on #25
This build fixed "the TKD2 problem" for me.  I had a code snippet, probably based on IRsendDemo, that broke immediately after loading 1.6.0 a couple weeks ago.

Date: Fri, 6 Mar 2015 08:59:22 -0800
From: notifications@github.com
To: Arduino-IRremote@noreply.github.com
Subject: Re: [Arduino-IRremote] IRsendDemo won't compile (#25)

A permanent fix for this problem is currently in limbo on Arduino's

[2015-03-07 09:53] SuperFabius commented on #96
I'm glad to contribute to the community!

If it is useful to complete the wiki, I can send more details about the simple IR sender (final sketch, hardware schematic, etc... ).

[2015-03-07 11:33] PaulStoffregen commented on #25
If the fix worked for you, please tell the Arduino developers.  You need to post your comment on Arduino issue 2681 (or somewhere else they will see).  They'll never see your comment here, since this isn't their project.

@z3t0 Please leave this issue open until the Arduino developers merge the fix.  Yes, it's a problem in Arduino, not IRremote.... but we need to send more people over there to tes

[2015-03-07 18:33] x10iman commented on #81
Sorry my late reply,
In those lines in IRremote.h

#define USECPERTICK 50  // microseconds per clock interrupt tick
#define RAWBUF 100 // Length of raw duration buffer

i have changed them to:

#define USECPERTICK 100  // microseconds per clock interrupt tick
#define RAWBUF 250 // Length of raw duration buffer

[2015-03-07 20:21] z3t0 commented on #25
@PaulStoffregen OK no problem, but maybe we should clean it up and recreate this issue with a kind of guide at the top with possible solutions, including the ones listed above. Then we can leave the last option as reporting it on the Arduino 2681 Issue. My only concern is to make this issue more accessible by others so that Arduino is pushed to fix this problem, their library conflicts are getting

[2015-03-07 20:25] z3t0 commented on #81
It definitely affects the code as those 2 variables are used by the library to actually operate the infrared signals, I don't know much more than that at this moment. It would be best to add this to the wiki instead of as a commit, at least until I figure out how to implement it (or someone else does).

I will close this issue but label it to be added to the wiki, so that this isn't ignored.

[2015-03-07 20:25] #81 closed

[2015-03-07 20:26] z3t0 commented on #93
@CrabbyPete The issue is being closed as it has been over 3 months since any activity and there does not seem to be any pending question. If the issue is not solved simply reopen it and label as 'New'.

[2015-03-07 20:26] #93 closed

[2015-03-07 20:27] z3t0 commented on #15
@artalat The issue is being closed as it has been over 3 months since any activity and there does not seem to be any pending question. If the issue is not solved simply reopen it and label as 'New'.

[2015-03-07 20:27] #15 closed

[2015-03-07 20:27] z3t0 commented on #15
@artalat I will still look into this, but this issue has been closed because the board is not supported by this library.

[2015-03-07 20:30] z3t0 commented on #53
@muddster This error is not with the IDE version, rather it is with Arduino Software having a library conflict.
Check Issue #98.

The issue is being closed as it has been over 3 months since any activity and there does not seem to be any pending question. If the issue is not solved simply reopen it and label as 'New'.

[2015-03-07 20:30] #53 closed

[2015-03-07 20:31] z3t0 commented on #50
@robots42 The issue is being closed as it has been over 3 months since any activity and there does not seem to be any pending question. If the issue is not solved simply reopen it and label as 'New'.

[2015-03-07 20:31] #50 closed

[2015-03-07 22:37] z3t0 commented on #96
Sounds good, maybe clone the wiki and add any pages necessary

[2015-03-07 22:41] z3t0 commented on #44
@aaronsnoswell  I believe this is solved by pull request #45 that you created, I will merge that into another branch so that it can be tested.

[2015-03-07 22:41] #44 closed

[2015-03-07 22:41] z3t0 commented on #43
@aaronsnoswell I believe this is solved by pull request #45 that you created, I will merge that into another branch so that it can be tested.

[2015-03-07 22:41] #43 closed

[2015-03-07 22:46] z3t0 commented on #41
@cannondale I apologize on behalf of the other collaborators for this delay. I will change it in the code. Thanks for the contribution.

[2015-03-07 22:53] #41 closed

[2015-03-07 22:56] z3t0 commented on #91
This issue is being closed as the fault is with arguing software which has an issue regarding this matter. Please report there.

[2015-03-07 22:57] z3t0 commented on #49
Closed for inactivity, it seems #51 solves it.

[2015-03-07 23:00] z3t0 commented on #38
Closed for inactivity

[2015-03-07 23:00] #38 closed

[2015-03-07 23:07] z3t0 commented on #87
@modqhx Please respond if you still need help, otherwise this issue will be closed soon.

[2015-03-08 00:06] AnalysIR commented on #41
FYI: To be 100% exact, it should be 1690 intead of 1692.

[2015-03-08 00:08] z3t0 commented on #41
@AnalysIR thanks, I'll change that now.

[2015-03-08 00:08] AnalysIR commented on #41
Great  - thanks

[2015-03-08 00:11] z3t0 commented on #41
No problem. Thanks for the correction.
commit 4610e7eb0e9371fcd6756c93489370a110cd06cb

[2015-03-08 00:13] z3t0 commented on #37
You must call enableIRIN(); after sending to receive.

[2015-03-08 00:15] z3t0 commented on #35
I am not sure if you can send things like numbers, I think its more that you can get a button press, which is received as a specific number and then the microcontroller decides what to do. I maybe wrong.

[2015-03-08 00:15] z3t0 commented on #35
Closed for inactivity

[2015-03-08 00:15] #35 closed

[2015-03-08 07:07] z3t0 commented on #39
It means the sketch is too large for the board, try minimize the library by removing unnecessary defines I'm your instance

[2015-03-08 07:08] z3t0 commented on #37
Closed for inactivity

[2015-03-08 07:08] #37 closed

[2015-03-08 07:10] #52 closed

[2015-03-08 07:11] #72 closed

[2015-03-08 07:11] #57 closed

[2015-03-08 07:12] #86 closed

[2015-03-08 07:15] z3t0 commented on #20
Please fork this repository and create a pull request with your changes so it can be merged here.

[2015-03-08 07:19] z3t0 commented on #5
Library conflicts should be reported on the arduino issue tracker as well because that's where the problem is in this case.

[2015-03-08 07:21] z3t0 commented on #30
Fixed in #31

[2015-03-08 07:21] #30 closed

[2015-03-08 07:22] z3t0 commented on #1
Closed for inactivity

[2015-03-08 07:22] #1 closed

[2015-03-08 07:23] z3t0 commented on #14
Has this beemn solved...

[2015-03-08 19:17] Neco777 commented on #20
z3t0, I have created a pull request, please have a look. Btw, I have tested it on 3 IR receivers on my Arduino Uno (I think it is Rev3) - it works. When I tried to add more instances of the receivers it stopped working. Probably because the time of reading (ISR(TIMER_INTR_NAME)) is more than 50 microseconds. I am curious if it can be solved somehow...

[2015-03-08 22:09] z3t0 commented on #5
This issue will be recreated with the Interrupts conflicting with PWM and the __vector_7 fix will be added to the wiki as it is an arduino problem.

[2015-03-08 22:09] #5 closed

[2015-03-08 22:10] z3t0 commented on #39
@joshuajnoble has this been resolved? Is it still being worked on?

[2015-03-08 22:11] z3t0 commented on #29
The issue referenced has been resolved, inherently resolving this as well. This was a mistake in the Arduino Software.

[2015-03-08 22:11] #29 closed

[2015-03-08 22:12] z3t0 commented on #28
Closed for inactivity. If you have been able to solve this issue please post how you did so, and it will be incorporated into the wiki.

[2015-03-08 22:13] #28 closed

[2015-03-08 22:13] z3t0 commented on #18
I will see what I can do and agree that it should not be used if the port is not needed. Can you please retest this to see if this problem is still existent?

[2015-03-09 16:54] z3t0 commented on #24
Closed for inactivity

[2015-03-09 16:54] #24 closed

[2015-03-09 22:46] PaulStoffregen commented on #25
Good news: Cristian Maglie, Arduino's lead developer, merged the fix today.  Arduino 1.6.1, and starting tomorrow Arduino's nightly builds, should solve this problem.

It's no longer necessary to leave this issue open for the purpose of encouraging people to give feedback to Arduino.  You might wish to keep this open as documentation, or try a nightly build or update to 1.6.1 after it's released.

[2015-03-09 22:48] z3t0 commented on #25
Thanks for the awesome news! I'll close this issue as it has been solved but create a page in the wiki with the solutions on this page that have been suggested above.

[2015-03-09 22:48] #25 closed

[2015-03-10 00:30] z3t0 opened #108 "Tutorials and Documentation [REVAMPED]"
I am working on totally re-doing the whole wiki because there are many things that have not been documented and also many new features have been added. Also we now have a GitHub [page](http://shirriff.github.io/Arduino-IRremote) so we might as well use it.

If anyone can help in any way just post here. Mainly what I need is:
- Writers who can re-write parts of the wiki that need rewriting
- HTML P

[2015-03-10 19:54] Lauszus commented on #108
@z3t0 could you and me to the contributors on the webpage as well? Please see my commits for reference: https://github.com/shirriff/Arduino-IRremote/commits?author=Lauszus.

[2015-03-10 21:42] z3t0 commented on #108
@Lauszus Sorry about that I thought I had added you already. Just added you to the webpage, I'll add you to the contributors.md now

[2015-03-12 16:13] jichen3000 opened #111 "add decodeSHARP method"
Hi,

I just found that the IRremote.h and IRremote.ccp codes didn't have a method called decodeSHARP, which meant your code didn't support decode SHARP.

But actually, I found in the previouse codes( I found in http://ledstripes.googlecode.com/svn/!svn/bc/32/trunk/Software/SharpIR/IRremote.cpp) that it had decodeSHARP in there.

So I just copied the  decodeSHARP to IRremote.cpp, and added a defina

[2015-03-12 16:25] jichen3000 commented on #111
I have changed codes in my forked project. https://github.com/jichen3000/Arduino-IRremote

[2015-03-12 17:54] z3t0 commented on #111
Hi. Sorry one of the merges must have deleted it.

[2015-03-12 18:33] z3t0 commented on #111
Sorry I wrote my previous comment in a state of confusion because I was quite certain that we did support sharp Decoding, I did not know what to say because I only recently became the maintainer of this project and did not know what features were available before.

However, my guess is that at some point in the past sharp decoding was removed for some reason. A few days a go I merged a PR for shar

[2015-03-12 18:33] #111 closed

[2015-03-13 02:32] TheMabb opened #112 "IRrecvDemo won't complie"
I try to compile the demo and I get this:

Arduino: 1.6.1 (Windows 8.1), Board: "Arduino Uno"

C:\Program Files (x86)\Arduino\libraries\IRremote\IRremote.cpp: In member function 'long int IRrecv::decodeWhynter(decode_results*)':

C:\Program Files (x86)\Arduino\libraries\IRremote\IRremote.cpp:753:51: error: a function-definition is not allowed here before '{' token

 long IRrecv::decodeSharp(decode

[2015-03-13 02:33] z3t0 commented on #112
Thank you for the detailed report. I'll get on it :smile:

[2015-03-13 02:35] z3t0 commented on #112
What version of the library are you using? 1.0 or 1.0.1 It seems as though you are using 1.0.1 which is a beta release. Please make sure you are using the latest [stable](https://github.com/shirriff/Arduino-IRremote/releases/tag/MAJOR) release.

Thank you for reporting that error. It really helps for further development.

[2015-03-13 02:38] TheMabb commented on #112
You are absolutely right I was using 1.0.1. My bad. Thanks!

[2015-03-13 02:39] z3t0 commented on #112
No problem, Thank YOU for reporting the bug. We are now one step closer to adding new features to the main repo. :+1:

[2015-03-13 02:39] #112 closed

[2015-03-15 21:40] khairov commented on #20
hii guys,
i'm new with IR communication and i want to know if i have to add only the modified version of the IRremote lib or add old version and the modified version by Neko777
also i would be so grateful if you gave me an example of receiving data on two receivers via two pins
it's really urgent, i need this in my final project license.
thanks in advance

[2015-03-15 21:49] z3t0 commented on #20
@khairov #106 is @Neco777 's  PR for adding multi receiver support but the project is currently undergoing some maintenance and it may be a while before that PR gets merged into the master branch. Since you don't have a lot of time on your hands you can contact me by email and/or skype and I can help you get setup.

As for an example on how to get multi receiver support @Neco777 could provide a sa

[2015-03-15 21:53] khairov commented on #20
thank you bro i will add you on skype and i really appreciate that

[2015-03-15 21:55] z3t0 commented on #20
@khairov No problem, happy to help :smile:

[2015-03-15 21:57] z3t0 commented on #20
@Neco777 My bad, I just saw the example sketch

[2015-03-16 13:09] Tarlin opened #114 "NEC code for LG sends bits reversed"
There are published IR codes for an LG tv. They use the NEC protocol. I have succeeding in getting the library to work, but the bits are being sent from least significant to most significant in each byte, rather than from most to least.

For LG TVs, the id for the tv is the first byte and the complement to the id is the second byte. The ID for LG TVs should be 0x04, but is 0x20 for this library. S

[2015-03-16 18:03] z3t0 commented on #114
So you're suggesting that we recreate the NEC protocol named in LG and reversing the order that the bits are sent?

[2015-03-16 18:13] Tarlin commented on #114
I am not sure.

First, I wanted to document it someplace and I was thinking of trying to address it in some manner. I have not contributed to a project before or used GIT, so not completely sure how to do this.

My thinking was that this seems simple to either add a function as you suggested or to add a helper function that flips the bits for LG codes. I think ideally, it would be good to research

[2015-03-16 18:26] z3t0 commented on #114
That definitely sounds like a good plan. Good you please paste your implementation that you used to get this library working for LG on a gist? I'll try and get this implemented but I will need your help in terms of testing because I do not have any LG Equipment to test on.

[2015-03-16 21:56] khairov commented on #20
@z3t0  thnx for the link i download the modified version of IRremote and tryed to compile the multirecv example and it showed no error it compiles good but i didn't test it for real when i do i will tell you guys

[2015-03-17 21:04] khairov commented on #20
@Neco777 hi bro is there any solution for wiring multiple ir leds to the same arduino board ?

[2015-03-18 15:51] mudbug765 opened #115 "Compile error"
I get the following error when attempting to compile the program IRrecvDemo...
C:\Program Files (x86)\Arduino\libraries\RobotIRremote\src\IRremoteTools.cpp:5:16: error: 'TKD2' was not declared in this scope
 int RECV_PIN = TKD2; // the pin the IR receiver is connected to

Error compiling.

Any suggestions?
Thanks,
Doug

[2015-03-18 15:55] Neco777 commented on #20
Hello, I did not work with sending IR signals - only receiving.

Вторник, 17 марта 2015, 14:04 -07:00 от khairov <notifications@github.com>:

[2015-03-18 16:07] z3t0 commented on #115
#98 Please check there

[2015-03-18 16:07] #115 closed

[2015-03-19 22:16] AnalysIR commented on #114
Workaround: Alternatively, you could just re-order the value/bits before calling the function.

[2015-03-19 22:32] shirriff commented on #114
I'd rather have this helper function optional or ifdef'd out so it doesn't enlarge the code for people who don't need it.

[2015-03-19 22:35] AnalysIR commented on #89
Another related issue, is that IRremote can only handle pulses with a maximum value of 16,383 uSecs or thereabouts, because of the associated delayMicroseconds limitation. AC protocols often have longer gaps/spaces in between two parts of the signal.

If my memory is correct, passing a value of zero also has unexpected results. e.g. space(0).

Both of these are directly related to the delayMicrose

[2015-03-20 22:24] khair-eddine commented on #20
i tried multiple receiving on arduino uno and it's stable for three sensors thanks :)

[2015-03-20 23:09] z3t0 commented on #20
@khair-eddine Thanks for the feedback. How's your project going?

[2015-03-21 00:25] khair-eddine commented on #20
@z3t0 welcome bro, it's going well

[2015-03-22 17:24] MustafaFayez opened #117 "#define statement for different devices selection doesn't work"
You said to keep the size of the library manageable you're moving to a model where different device types use a #define statement, for instance:
# define SHARP

where is that ? and how you will do it ?

[2015-03-22 18:10] z3t0 commented on #117
@MustafaFayez I understand your confusion as we have not made this very clear yet, I am working on a set of tutorials to clear this up and will release the next version at the same time. For now please use the latest Release, which does not yet need #define statements.

[2015-03-22 18:40] MustafaFayez commented on #117
@z3t0 I searched for this issue online, some people say it won't work:
http://stackoverflow.com/questions/14418936/arduino-overriding-define-in-libraries

[2015-03-22 19:25] khair-eddine commented on #20
hi guys,
 it receives the codes but it always shows the identifier of the receiver two (recv_2) :/ any idea ?

[2015-03-22 23:01] z3t0 commented on #117
@MustafaFayez That's what I thought too, but apparently it did work and provide results...
Check #99 and #110

[2015-03-22 23:02] z3t0 commented on #20
@khair-eddine Could you create a gist and paste your sketch there so we can take a look. Thanks!

[2015-03-22 23:05] z3t0 commented on #117
@MustafaFayez We did end up using #defines so I'm getting confused as to how they actually worked...
You'll see what I meant if you read #110 because we actually have it working there.

[2015-03-22 23:24] khair-eddine commented on #20
it's only the IRrecvMulti example.

[2015-03-22 23:25] z3t0 commented on #20
@khair-eddine Oh okay, I'll take a look, but I do not know too much about this. @Neco777 Could you help us out?

[2015-03-23 01:47] Neco777 commented on #20
I need some time to build the example again (i mean physically).
But meanwhile, khair-eddine, can you check the code again because you say "receiver two (recv_2)", but the identifier should be "Rcv_2" if you use the example IRrecvMulti.
Serial.print("Rcv_");
Serial.print(i);
Serial.print(":");
Serial.println(btn); also, please check the example connecting 2 receivers instead of 3.

Воскресенье, 22

[2015-03-23 04:31] z3t0 commented on #20
@Neco777 Sounds like a good plan, I will see if I can help too.

[2015-03-23 14:10] MustafaFayez commented on #117
@z3t0 I read #110, great work there,but did you use #define in arduino sketch or just in .h file as in #110 ?? In other words, can the user selects the library code to be compiled from sketch or not?

[2015-03-23 14:22] Marsfan commented on #18
@z3t0 sorry. I have been very busy. I plan to test this over the weekend.

[2015-03-23 20:38] khair-eddine commented on #20
@Neco777  sorry it's rcv not recv, i will see if i can solve the problem too.

[2015-03-23 20:56] khair-eddine commented on #20
it was working for me with 1 receiver in a couple of days ago but not anymore, so when i plug or unplug the second receiver it's shows some code for me without even touching the IRremote, it's kinda weird !

[2015-03-25 04:27] z3t0 commented on #117
@MustafaFayez I see what you mean, I will do some testing my self and see what I can come up with. Thank you very much for pointing this out

[2015-03-25 04:29] z3t0 commented on #114
@Tarlin Can you please post your sketch for this as a gist so I can try and implement it into the library? Thanks

[2015-03-25 04:29] z3t0 commented on #114
@shirriff Agreed.

[2015-03-25 04:30] z3t0 commented on #101
@shirriff Any ideas

[2015-03-25 04:31] z3t0 commented on #88
Closed for inactivity, marked as 'Add to Wiki' so that we can try and implement this feature.

[2015-03-25 04:31] #88 closed

[2015-03-25 04:33] z3t0 commented on #87
Closed for inactivity

[2015-03-25 04:33] #87 closed

[2015-03-25 04:33] z3t0 commented on #71
Closed for inactivity.

[2015-03-25 04:33] #71 closed

[2015-03-25 04:35] z3t0 commented on #39
@SirSkidmore We are in the process of minimizing the library so the next release should be able to fit on your board, provided that you do not use multiple functions that enlarge the code.

[2015-03-25 07:22] Tarlin commented on #114
I will post it tonight. I got sidetracked for a few weeks with another
project. Didn't think it would be a problem, sorry.
On Mar 25, 2015 12:29 AM, "Rafi Khan" <notifications@github.com> wrote:

[2015-03-25 20:38] Tarlin commented on #114
Ok, I posted the [GIST.](https://gist.github.com/Tarlin/2643f5b7c8c17edf185f#file-lgremote) Sorry, I hadn't actually written it until today. I did not think this would be acted on as quickly as it was. The commands listed all work great with my tv.

One other point...
The description of the NEC protocol on the project page says, "NEC: 32 bits are transmitted, most-significant bit first. (protocol

[2015-03-26 02:06] z3t0 commented on #114
@Tarlin No problem, thanks for the info! I'll see what I can do.
'''
The description of the NEC protocol on the project page says, "NEC: 32 bits are transmitted, most-significant bit first. (protocol details)", but clicking through to the protocol details shows, "The picture above shows a typical pulse train of the NEC protocol. With this protocol the LSB is transmitted first."
'''
I am starting t

[2015-03-26 02:24] Tarlin commented on #114
That isn't actually a mistake. The library does send msb first, but the protocol expects lsb first.

[2015-03-26 02:25] z3t0 commented on #114
I see what you mean.

On Wed, Mar 25, 2015 at 8:24 PM, Tarlin <notifications@github.com> wrote:

--
Thanks,
Rafi Khan

[2015-03-27 00:40] z3t0 commented on #114
@Tarlin This may take a while since it is my first time adding a new protocol. If any one else is interested feel free to try it out. I'm definitely going to do it just that it may take a while.

[2015-03-27 12:16] Tarlin commented on #114
@zt30 What did you want to do? Do you want to fix the NEC protocol to actually be LSB or add another protocol that is the NEC protocol with the MSB/LSB thing changed? Do you want a more general purpose "ReverseBitsInEachByte" function?

If you let me know, I can probably write the change fairly quickly.

[2015-03-27 22:35] khair-eddine commented on #20
hii guys it works for me with 3 receivers now, when i hit a button on the remote the code figure out with three receivers

[2015-03-27 22:37] z3t0 commented on #114
@Tarlin I was planning on adding a separate protocol instead of creating a helper function. The main reason for doing this is that I wanted to document the process of creating a protocol for the tutorials i am adding to the website. If you are willing then please go ahead and also note some of the steps and I can create the documentation from there. Thanks!

[2015-03-29 17:09] MustafaFayez commented on #117
@z3t0 any updates?

[2015-03-29 18:09] z3t0 commented on #117
Sorry got side tracked. I'll get back on it.

--
Thanks,
Rafi Khan

----- Reply message -----
From: "MustafaFayez" <notifications@github.com>
To: "shirriff/Arduino-IRremote" <Arduino-IRremote@noreply.github.com>
Cc: "Rafi Khan" <zetoslab@gmail.com>
Subject: [Arduino-IRremote] #define statement for different devices selection doesn't work (#117)
Date: Sun, Mar 29, 2015 11:09

@z3t0 any updates?

--

[2015-03-29 18:18] AnalysIR commented on #101
In the defines for Timer4_HS, which is used by default for Leonardo.... there are some defines for functions
TIMER_DISABLE_PWM
&
TIMER_CONFIG_NORMAL()

You could try using either or both of these.

Some of the other defines, seem to overwrite other settings via '=' rather than '|' when setting the registers...eg. TIMER_ENABLE_INTR    (TIMSK4 = _BV(OCIE4A))

Also, remember that IR remote takes over

[2015-03-30 15:14] kopfkopfkopfaffe opened #118 "Timer 3 for sending fails to compile for ATmega32U4"
I want to use pin 5 on an Arduino Leonardo (=pin9 on a Teensy 2.0, same microcontroller) for sending. I configure the **IRremoteInt.h** to use Timer 3 (pin 9 on Teensy 2, pin 5 on Leonardo) like this:

    // Teensy 2.0
    #elif defined(__AVR_ATmega32U4__)
    //#define IR_USE_TIMER1   // tx = pin 14
    #define IR_USE_TIMER3   // tx = pin 9
    //#define IR_USE_TIMER4_HS  // tx = pin 10

I get t

[2015-03-30 15:30] AnalysIR commented on #118
OC3A is PC6 or digital pin 5.

It looks like you may have to add in the relevant defines for the leonardo.

[2015-03-30 15:32] AnalysIR commented on #118
try this
#if defined(CORE_OC3A_PIN)
#define TIMER_PWM_PIN        CORE_OC3A_PIN  /* Teensy */
#elif defined(__AVR_ATmega1280__) || defined(__AVR_ATmega2560__)
#define TIMER_PWM_PIN        5  /* Arduino Mega */
#else
#define TIMER_PWM_PIN        5  /* Arduino Leonardo */
#endif

[2015-03-30 15:37] kopfkopfkopfaffe commented on #118
I tried that before. Here's what happens:

    core.a(Tone.cpp.o): In function `tone(unsigned char, unsigned int, unsigned long)':
    /arduinopath/arduino-1.0.5/hardware/arduino/cores/arduino/Tone.cpp:241: multiple definition of `__vector_32'
    IRremote.cpp.o:/path/IRremote.cpp:78: first defined here

[2015-03-30 15:53] AnalysIR commented on #118
OK....thats a pity. I will have to leave it to others to assist further. :(

[2015-04-02 04:38] z3t0 commented on #118
@kopfkopfkopfaffe There are many conflicts with the tone library, so a possible suggestion would be to temporarily delete the Tone library and back it up somewhere else. Please report your results so we can assist you further.

[2015-04-02 04:39] z3t0 commented on #117
Still working on it... Sorry got a lot of things distracting me.

[2015-04-02 13:22] kopfkopfkopfaffe commented on #118
I would favour a solution that allows tone and IRremote to co-exist (when not used in the same sketch of course, because there are only limited hardware resources). So Arduino seems to compile every core component although they might not be used in that particular sketch.

So let's analyze this a little more. The error is

    core.a(Tone.cpp.o): In function `tone(unsigned char, unsigned int, unsi

[2015-04-06 15:54] levsa opened #120 "Cannot find decodeSharp or sendSharpRaw"
I can't find the implementations for decodeSharp or sendSharpRaw. Errors?

Also, ifdefs for sending to SHARP looks strange:

[code]

[2015-04-06 15:57] levsa opened #121 "ifdefs for decoding JVC and LG mixed up"
ifdefs for decoding JVC and LG are mixed up

[code]

[2015-04-06 16:06] levsa opened #122 "ifdef for SAMSUNG not closed in IRRemote.cpp and ifdef for WHYNTER missing"
ifdef for SAMSUNG not closed in IRRemote.cpp and ifdef for WHYNTER missing.

[code]

[2015-04-06 16:10] levsa opened #123 "Extra #endif after IRrecv::getRClevel()"
There seems to be an extra #endif after IRrecv::getRClevel(). Probably makes up for missing #endif for SAMSUNG (see issue #122)

[2015-04-06 17:41] z3t0 commented on #120
Are you sure you are looking in the right place? I see this:
[code]

[2015-04-06 17:45] z3t0 commented on #120
Hmm. Where are you getting that from? Which file and from the Release or the master branch?

[2015-04-06 18:09] levsa commented on #120
Master branch. There is no sendSharpRaw defined anywhere I can see:

[code]

[2015-04-06 18:11] z3t0 commented on #120
I'll take a look at the previous commits, one of them must have changed it.

[2015-04-06 18:14] z3t0 commented on #120
sendSharpRaw seems to have been removed here https://github.com/shirriff/Arduino-IRremote/commit/117059a17f3769adf535469f0ae41ada53dcee8c

[2015-04-06 18:15] z3t0 commented on #120
decodeSharp is also nowhere to be found... I'll take a look at previous commits

[2015-04-06 18:47] levsa opened #125 "IRSend pin should be configurable"
Light Blue Bean can use pins 0-3 for PWM. Does that mean an IR LED can be connected to any of these and used to send IR? In that case, IRSend class should have the output pin configurable, similar to IRRecv.

[2015-04-06 18:49] levsa commented on #125
Light Blue Bean has an Atmega328p on it, I cannot find the configuration for 328p in IRRemoteInt.h though.

[2015-04-06 18:53] z3t0 commented on #125
I believe both ATmega328P and ATmega8 have the same pinout.
http://avrprogrammers.com/articles/atmega8-vs-atmega328

[2015-04-06 19:08] levsa commented on #125
Hmm, but probably my configuration will define __AVR_ATmega328P__ and that will not work if that is missing in IRRemoteInt.h. Correct?

I'm not very good at reading pinouts. Which pin should I connect my IR-LED? The pins I have access to are shown here (I guess I'd need one of D0-D3):

https://punchthrough.com/bean/arduino-users-guide/

[2015-04-06 20:00] z3t0 commented on #125
I see what you mean. I do not know a lot about the core code of this project so I cannot answer your question. I agree that the send pin should be configurable. I will take a look and see if I can figure it out.

If you take a look [here](https://github.com/PunchThrough/PunchThrough-BEAN-Arduino-Firmware/blob/master/hardware/bean/variants/bean/pins_arduino.h) it looks like D3 should work for you.

[2015-04-06 20:13] levsa commented on #125
Ok, thanks! How can you see that D3 should work btw?

[2015-04-06 20:15] z3t0 commented on #125
From the file I linked above it seems that D3 has PWM, also from the sendDemo example it seems that pin 3 is the default pin for sending, so this should work without any changes for your board?

[2015-04-06 20:26] levsa commented on #125
Sounds good enough. I was just unsure about pin 3 in the sendDemo being the same as pin 3 on my board. But I'll try it!

[2015-04-06 21:24] levsa commented on #125
Nope, nothing is happening on pin 3 when I use irsend (tried a regular LED for debugging). Also, the program hangs after the first call to send (sendSAMSUNG).

[2015-04-07 04:26] z3t0 commented on #125
I'm out at the moment but I'd recommend using the release version since as you have pointed out,  the master branch is filled with bugs.

----- Reply message -----
From: "Levon Saldamli" <notifications@github.com>
To: "shirriff/Arduino-IRremote" <Arduino-IRremote@noreply.github.com>
Cc: "Rafi Khan" <zetoslab@gmail.com>
Subject: [Arduino-IRremote] IRSend pin should be configurable (#125)
Date: Mon,

[2015-04-07 05:29] levsa commented on #125
Good point :) Thanks for the quick response!

[2015-04-07 18:23] z3t0 commented on #125
@levsa Let me know if that works

[2015-04-07 21:28] Norfeldt opened #126 "PANASONIC POWER OFF/ON - long press issue"
I tried to make the following [Smart Remote Control](http://makezine.com/projects/smart-remote-control/) and realized that I have a problem with the way I turn on and off my PANASONIC TV. I have to long press the power button..

Just to be sure that this was the issue, I tried the simple (modified) example on your page.

[code]

It don't work... Any idea of how to get around this?

[2015-04-07 21:30] z3t0 commented on #126
Just to clarify, do you have to long press with your original remote?

[2015-04-07 21:34] Norfeldt commented on #126
Yes, I have to hold it for about 3 sec

[2015-04-07 21:35] z3t0 commented on #126
Could you not simply record what is being sent in those three seconds and then replay that on the Arduino?

[2015-04-07 21:37] Norfeldt commented on #126
The decoding tells me `PANASONIC: 4004 100BCBD` - which matches the example

[2015-04-07 21:39] z3t0 commented on #126
And that is the initial button press right?

[2015-04-07 21:40] z3t0 commented on #126
What happens if you try and record the 3 second power off phase using
https://github.com/shirriff/Arduino-IRremote/blob/master/examples/IRrecvDemo/IRrecvDemo.ino

[2015-04-07 21:41] Norfeldt commented on #126
I'll check.

[2015-04-07 21:44] Norfeldt commented on #126
[code]

I'm no super arduino user..

[2015-04-07 21:45] z3t0 commented on #126
Hmm, that's odd I think.. First step would be to make sure you are using the Release version of this library, the master branch is undergoing major development.

https://github.com/shirriff/Arduino-IRremote/releases/tag/MAJOR

[2015-04-07 21:46] Norfeldt commented on #126
I changed `int RECV_PIN = 11;` to `int RECV_PIN = 13;` so it matches the layout

http://cdn.makezine.com/uploads/2014/06/smartremotecontrol_bb_resized.png

[2015-04-07 21:48] z3t0 commented on #126
Pin 13 has 16 bits of resolution, so that may make a difference. http://41.media.tumblr.com/0b5c4be0cefa771d5e2b2d1102e19ce2/tumblr_muujlsYypU1s5t695o1_1280.png

Let me know if the same problem arises when using the Release version

[2015-04-07 21:48] Norfeldt commented on #126
I am using the latest release. I just downloaded it to try the example. The lib I used during the tutorial on make I named `Arduino_IRremote`. So pretty sure I used the right lib for the example

[2015-04-07 21:52] Norfeldt commented on #126
I realized that it is pin 11 and not 13 I'm using.. But it gives me the same error (after I saw this first I changed it to 13 because I thought this was the problem)

[2015-04-07 21:55] Norfeldt commented on #126
Just opening the serial monitor gives the connection issue..

[2015-04-07 21:56] z3t0 commented on #126
Oh wait.. is it possible that the error might have something to do with the Yun itself?
[code]

[2015-04-07 21:57] z3t0 commented on #126
As far as I can see, the sketch I linked above should not repeat those lines in any case.

[2015-04-07 21:58] Norfeldt commented on #126
I believe this this is a YUN message..

[2015-04-07 21:58] z3t0 commented on #126
Yup you're right.

[code]
http://forum.arduino.cc/index.php?topic=188587.msg1395830#msg1395830

[2015-04-07 22:01] Norfeldt commented on #126
The Make tutorial has a Console that decodes

[code]

[2015-04-07 22:03] z3t0 commented on #126
Try this sketch with Serial on instead of Console.
https://github.com/shirriff/Arduino-IRremote/blob/master/examples/IRrecvDemo/IRrecvDemo.ino

Then use your remote as if you were to the tv off and you will hopefully see the signals on the Serial Monitor, for this sketch to work we need to use Serial. I have never used a Yun so I may be missing something here..

[2015-04-07 22:16] Norfeldt commented on #126
I'm a bit confused.. I can't use the Serial at the moment (don't have a cable). The error will be the same as last. I then tried the following (had to try something)

[code]

[2015-04-07 22:17] z3t0 commented on #126
Hmm.. but how do you upload the sketch without a cable? I'm gonna go do some research on the Yun

[2015-04-07 22:17] Norfeldt commented on #126
It uploads via wifi

[2015-04-07 22:18] z3t0 commented on #126
Ah, then do you know if we have to use a different method to Serial.println()?

[2015-04-07 22:20] z3t0 commented on #126
OK got an idea.
[code]

[2015-04-07 22:22] Norfeldt commented on #126
I fount the issue

[2015-04-07 22:23] z3t0 commented on #126
NIce!

[2015-04-07 22:24] Norfeldt commented on #126
Now the serial gives me the following
[code]

[2015-04-07 22:25] z3t0 commented on #126
Even if you hold the button, hmm. In that case maybe you just need to replay that a few times for the TV to register it?

[2015-04-07 22:30] Norfeldt commented on #126
Hmm.. Tried the following..

[code]
But I noticed that the little LED on the TV don't blink like it should.. Perhaps my IR LED is not the right one...

[2015-04-07 22:32] z3t0 commented on #126
Has your setup been able to replicate any other button from the remote?

[2015-04-07 22:33] z3t0 commented on #126
What pin is your IR Led for the above sketch?

[2015-04-07 22:33] Norfeldt commented on #126
I'm not sure what wave length my LED sends - it just worked on some Bose stuff and another digital TV box thing..

[2015-04-07 22:34] Norfeldt commented on #126
Well.. it's worth a try with another IR LED and see what happens.

[2015-04-07 22:34] Norfeldt commented on #126
Thank you very much for your help!!!!

[2015-04-07 22:36] z3t0 commented on #126
No problem. Happy to help :smile:

[2015-04-07 22:37] z3t0 commented on #126
Is your IR led connected to pin 3?

[2015-04-07 22:38] z3t0 commented on #126
[code]

[2015-04-07 22:39] z3t0 commented on #126
Try that ^^

[2015-04-07 22:39] z3t0 commented on #126
Playing around with that should make it work

[2015-04-07 22:42] Norfeldt commented on #126
It is connected to pin 13.. I know that it is hooked up correctly because I can see it flash when I use my mobile camera.

[2015-04-07 22:44] z3t0 commented on #126
When using the above sketch make sure you are using a IR Led (to send) and not an IR receiver. Also, it needs to be connected onto pin 3, not 13. Is your TV flashing or your IR Led?

[2015-04-07 22:49] Norfeldt commented on #126
Connecting it to pin 3 don't blink the IR LED.. But the pin 13 do blink IR LED (and the small red LED on the YUN board)

[2015-04-07 22:51] z3t0 commented on #126
That's odd because the Sketch above says to use pin 3...
[code]

[2015-04-07 22:53] Norfeldt commented on #126
I know..

...but I have to check that this isn't just a hardware issue. Then it is best to fix this right away

[2015-04-07 22:53] z3t0 commented on #126
Hmm. I'll take a look at the pinouts

[2015-04-07 23:01] z3t0 commented on #126
Are you sure that you are using my latest sketch posted above, because pin 13 should not be doing anything.... As far as I know. I will take a look into the code as you have suggested it may be a hardware issue.

[2015-04-07 23:04] z3t0 commented on #126
Actually, you're right pin 13 should be the right pin.
[code]

[2015-04-07 23:09] z3t0 commented on #126
Try the sketch above, I just modified it.

[2015-04-10 08:11] renno-bih opened #127 "nnector"

[2015-04-10 11:27] Norfeldt commented on #126
I'm sorry I don't have the possibility to test it right now. Forgot the item - it will take some time for me to get it back.. meanwhile I will prepare the testing.

[2015-04-10 15:23] z3t0 commented on #126
No problem, let me know when you test it.

--
Thanks,
Rafi Khan

----- Reply message -----
From: "Lasse Nørfeldt" <notifications@github.com>
To: "shirriff/Arduino-IRremote" <Arduino-IRremote@noreply.github.com>
Cc: "Rafi Khan" <zetoslab@gmail.com>
Subject: [Arduino-IRremote] PANASONIC POWER OFF/ON - long press issue (#126)
Date: Fri, Apr 10, 2015 05:27

I'm sorry I don't have the possibility to te

[2015-04-10 16:20] z3t0 commented on #127
@renno-bih I think you forgot to fill in the description?

[2015-04-10 17:45] joshuajnoble commented on #121
Could you create an pull request for this?

[2015-04-10 17:45] joshuajnoble commented on #123
Could you create a pull request for this?

[2015-04-10 20:14] renno-bih commented on #127
Accidentally opened issue... can you please delete it.

[2015-04-10 20:31] z3t0 commented on #127
No problem.

[2015-04-10 20:31] #127 closed

[2015-04-12 10:22] levsa commented on #125
No, didn't work. Same result, hangs after one try.

On Tue, Apr 7, 2015, 20:23 Rafi Khan <notifications@github.com> wrote:

[2015-04-12 10:24] levsa commented on #123
I think this was this fixed by my other pull request?

On Fri, Apr 10, 2015, 19:45 joshua noble <notifications@github.com> wrote:

[2015-04-12 10:24] levsa commented on #121
I think this was this fixed by my other pull request?

On Fri, Apr 10, 2015, 19:45 joshua noble <notifications@github.com> wrote:

[2015-04-12 10:32] joshuajnoble commented on #121
It was, my bad!

On Sun, Apr 12, 2015 at 12:25 PM, Levon Saldamli <notifications@github.com>
wrote:

--
joshua noble
http://thefactoryfactory.com

[2015-04-12 17:57] z3t0 commented on #125
Very odd, I'll take a look and see what I can do

[2015-04-14 12:27] dhrgrg commented on #91
@tytower i have followed yr steps but arduino ide 1.6.1 is not able to recognise the IRremote directory

[2015-04-14 18:07] z3t0 commented on #91
what errors do you get

[2015-04-14 21:46] tytower commented on #91
Current version is 1.6.3 so I've downloaded it and will have a look

On Tue, 14 Apr 2015 05:27:55 -0700
dhrgrg <notifications@github.com> wrote:

--
Yahoo <tytower@yahoo.com>

[2015-04-14 22:04] tytower commented on #91
The issue remains the same . You must delete "Robot IR Remote" library and install https://github.com/shirriff/Arduino-IRremote.

"Multiple libraries were found for "IRremote.h"
 Used: /opt/arduino-1.6.3/libraries/RobotIRremote
 Not used: /opt/arduino-1.6.3/libraries/Arduino-IRremote-master
Error compiling."

-------------------------------------------------------------

On Tue, 14 Apr 2015 05:27:

[2015-04-14 22:16] z3t0 commented on #91
First rename the downloaded libraty to IRremote then delete RobotIRRemote

--
Thanks,
Rafi Khan

----- Reply message -----
From: "tytower" <notifications@github.com>
To: "shirriff/Arduino-IRremote" <Arduino-IRremote@noreply.github.com>
Cc: "Rafi Khan" <zetoslab@gmail.com>
Subject: [Arduino-IRremote] Arduino Due and IDE 1.5.7 (#91)
Date: Tue, Apr 14, 2015 16:04
The issue remains the same . You must

[2015-04-15 19:21] khair-eddine opened #128 "multiple IR transmitter support IRremote (up to 3 pins)"
hello,
i modified the lib to support up to three IR transmitter at once.
i want to conttribute in librairies because it's useful to others to use multiple transmitters.
i'm asking how can i contribute ? or should i get any permission?

[2015-04-15 21:37] z3t0 commented on #128
In what way did you make changes? To the library code or in how you wrote your sketch?

--
Thanks,
Rafi Khan

----- Reply message -----
From: "khair-eddine" <notifications@github.com>
To: "shirriff/Arduino-IRremote" <Arduino-IRremote@noreply.github.com>
Subject: [Arduino-IRremote] multiple IR transmitter support IRremote (up to 3 pins) (#128)
Date: Wed, Apr 15, 2015 13:21
hello,

i modified the li

[2015-04-15 21:44] khair-eddine commented on #128
hii bro,
i didn't modified any instruction, i added some instructions in the IRremoteint to enable and disable 2 other pwm pins (9 and 10) than i duplicated the irsend with irsend1 and irsend2 and all their functions  so when i use new objects in arduino i declare them with those types(irsend,irsend1 and irsend2)
i tryed this code and it worked for me.
#include <IRremote.h>

IRsend  irsend0;
IRsen

[2015-04-15 22:25] z3t0 commented on #128
@khair-eddine I recommend forking this repository (top right) and then committing your changes and creating a pull request so we can review your changes.

Check: https://help.github.com/articles/fork-a-repo/

[2015-04-16 18:47] khair-eddine commented on #128
hii @z3t0 i forked a repository and i commit 3 changes to three files (IRremote.h IRremote.cpp and IRremoteint.h) see the modification than test the lib if u want.

[2015-04-16 18:47] khair-eddine commented on #128
https://github.com/khair-eddine/Arduino-IRremote/pull/1/files here's the link bro

[2015-04-16 20:04] z3t0 commented on #128
@khair-eddine, thanks bro I'll take a look and see what I can do

On Thu, Apr 16, 2015 at 12:47 PM, khair-eddine <notifications@github.com>
wrote:

--
Thanks,
Rafi Khan

[2015-04-18 19:13] ax5bm10 opened #131 "Send Types"
Send Types those defined in the file IRremote.h are not defining functions IRSend class which causes an error in the arduino ide

[2015-04-18 19:34] SpotComms commented on #131
Same here
![The error](https://i.imgur.com/Z45H7UT.png)

[2015-04-18 19:39] ax5bm10 commented on #131
#define SEND_NEC
#define SEND_SONY
#define SEND_RC5
#define SEND_RC6
#define SEND_DISH
#define SEND_SHARP
#define SEND_PANASONIC
#define SEND_JVC
#define SEND_SANYO
#define SEND_MITSUBISHI
#define SEND_SAMSUNG
#define SEND_RAW

to work, these definitions to be used

[2015-04-18 20:05] SpotComms commented on #131
I'll redact my comment then since its completely unrelated to this issue.

[2015-04-18 20:12] z3t0 commented on #131
I'm assuming this has been solved? Please read the README.md.

[2015-04-18 20:12] #131 closed

[2015-04-18 20:16] z3t0 commented on #125
Take a look here where the pins are being changed, https://github.com/khair-eddine/Arduino-IRremote/pull/1/files

[2015-04-18 20:17] z3t0 commented on #18
@Marsfan @mdymel Check https://github.com/khair-eddine/Arduino-IRremote/pull/1/files
The pins are being changed there.

[2015-04-18 20:22] z3t0 commented on #49
#51 remains unmerged.

[2015-04-18 22:08] khair-eddine commented on #125
well if you want to change the output on pin9 in the original IRremote you just have to go to the IRremoteint.h in the library directory and uncomment (#define IR_USE_TIMER1   // tx = pin 9)
 and make comment for(// #define IR_USE_TIMER2     // tx = pin 3)
but anyway try pin9 first.

[2015-04-20 13:27] levsa commented on #125
This looks very bad. I think it is very unconvenient to duplicate that much
code, it will be hard to maintain. Is there a way to give the pin number as
an argument to the constructor?

Then you don't need to duplicate any code, just create instances with
different input:

IRsend  irsend0(PIN_3);
IRsend irsend1(PIN_9);
IRsend irsend2(PIN_10); // or some pins

/Levon

sön 19 apr. 2015 kl 00:09 skrev

[2015-04-20 18:48] z3t0 commented on #125
@levsa that is what I am thinking about, also this way we could make it possible to have many more than 3/4 irsend's for microcontrollers that allow for more (I think the Mega)

[2015-04-20 19:51] Zhenit-606 opened #132 "Turn into RAW"
Hello guys, before I want to thank immensely for the wonderful library that you develop and maintain. This tool helps many, many people, thank you.

I'm new in electronics and programming (30 days), and start a laser-tag project, the prototype is already up and running. To communicate i using a modified version of irRemote. I cleaned everything leaving only send.SONY, send.RAW and reception.
I'm c

[2015-04-20 20:16] Zhenit-606 commented on #125
Not so, there are many PWM pins, but few TIMERs. In 328p only 2 TIMERs for PWM control, TIMER 1 (16 bit) and TIMER 2 (8bits), the TIMER 0 controls the time of shetch. Of course, this can be tweaked, but will always have only 3 TIMERs, I have difficulty in playing sound PWM and send IR pulse, I have to make a stop in the audio before sending the PWM.

[2015-04-20 20:48] khair-eddine commented on #125
@levsa @z3t0 i thinked about that too but i need some time to get used to C language and finish some work, if someone want to improve it, it will be great. or i'll have to close this issue and back to it when i finish my project in juin
@Zhenit-606 yes bro every timer timer is responsible for behavior of two PWM pins in Atmega328(arduino uno) i'm using timer1 and timer2 at the same time instead of

[2015-04-20 21:02] levsa commented on #125
I can take a look at it some time soon.

Levon

On Mon, Apr 20, 2015, 22:48 khair-eddine <notifications@github.com> wrote:

[2015-04-21 20:32] khair-eddine commented on #20
hii @Neco777  and @z3t0  i'm using nekolay example for mutiplereceiving and i can receive on three pins but when i try to send some data on my ir led the receivers stop working and do not receive any code
it means :
one IRsend +(  all_rcv[0] = new IRrecv(2);  rcv_count = 1;) Work.
one IRsend +(  all_rcv[0] = new IRrecv(2);all_rcv[1] = new IRrecv(3);  rcv_count = 2; or more ) do not work.
i hope th

[2015-04-23 17:32] slavkoja opened #133 "Unknonw (Uncategorized) library category"
Library category in the library.properteis is "infrared", but by the Arduino library specification (https://github.com/arduino/Arduino/wiki/Arduino-IDE-1.5:-Library-specification - i don't found one for 1.6 IDE), there is not infrared category.

I suggest to use the "Signal Input/Output", to prevent warnings when Arduino IDE starts.

regards

[2015-04-24 14:36] renno-bih opened #134 "IRemote library on atmega1284p"
I'm currently working on project where I use this library in combination with wifi module and I'm running out of flash and SRAM memory. Atmega328 and Atmega32u4 microcontrollers just can't handle memory requirements.
Of course, atmega2560 is easy solution but it is pretty expensive and atmega1284p looks perfect for my application.

What is required to use this library with this microcontroller?

[2015-04-24 22:15] khair-eddine commented on #134
you don't require anything special, you only need to change the IR Led on pin 9 for the atmega1284 i think it's similar to atmega1284p
and if you want to change the output pin go to program files\Arduino\Librairies\IRremote\IRremoteint.h on line33 and uncomment the wanted IR Led pin and you must let only one uncommented.

[2015-04-26 23:05] z3t0 commented on #134
@renno-bih The above should work, if it does not just let us know and we will help make the necessary modifications to the library to support the chip. Should not be too hard.

[2015-04-26 23:05] z3t0 commented on #133
@slavkoja Thanks for letting us know, will fix right now.

[2015-04-26 23:07] z3t0 commented on #133
Fixed in commit above

[2015-04-26 23:07] #133 closed

[2015-04-26 23:09] z3t0 commented on #125
I will give it a try but may take a while. FINALLY got an arduino again (although it only partially works)

[2015-04-26 23:11] z3t0 commented on #132
@Zhenit-606 Firstly I would like to apologize that no one has replied to your issue until now, I would have replied but have been immensely busy lately. I will take a look and see what I can do, I am no expert with the ir code in this library but I will do my best! @joshuajnoble Any ideas?

[2015-04-27 06:04] renno-bih commented on #134
Thank you :)

[2015-04-28 15:13] redruff opened #135 "compiler error with IRSend Demo"
I know this has come up a few times, but...

I get this with the send demo, it is the stock code right from the Examples folder.
[code]
I have deleted all the RobotIR libraries, I only have the library "IRRemote" in the IDE library folder.
The REC demo works just fine. Is there a work around for this?

Here is the code throwing the error
[code]
Thanks in advance,
Red

[2015-04-28 16:15] khair-eddine commented on #135
well if you write this code exactly, than you should write #include <IRremote.h> (on line1) instead of #include

[2015-04-28 16:24] redruff commented on #135
not sure what happened there copy/paste error??

The include is there and correct in the IDE example.

/*
 * IRremote: IRsendDemo - demonstrates sending IR codes with IRsend
 * An IR LED must be connected to Arduino PWM pin 3.
 * Version 0.1 July, 2009
 * Copyright 2009 Ken Shirriff
 * http://arcfn.com
 */

#include <IRremote.h>

IRsend irsend;

void setup()
{
  Serial.begin(9600);
}

void loop()

[2015-04-28 16:26] redruff commented on #135
interesting..it whacks the "<IRremote.h>" probably thinks its HTML tags and gets crabby?

[2015-04-28 16:28] khair-eddine commented on #135
oh yes i see, have you tried to unplug your board or restart sketch because i see no reason to error
check it your library is written IRremote too because you writes IRRemote up

[2015-04-28 16:59] redruff commented on #135
Thanks for all your help! Appreciate it!
I compared upper and lower case, they match.
I cant get past the compiler error here, so it doesn't even go look for a board to download to.
Ya, I'm stumped on this one!

[2015-04-28 21:14] khair-eddine commented on #135
you still have compiling problem ?

[2015-04-28 21:33] z3t0 commented on #135
please try the release version of the library, the repository is goin through refactoring as we work on multi ir support.

----- Reply message -----
From: "redruff" <notifications@github.com>
To: "shirriff/Arduino-IRremote" <Arduino-IRremote@noreply.github.com>
Subject: [Arduino-IRremote] compiler error with IRSend Demo (#135)
Date: Tue, Apr 28, 2015 10:59
Thanks for all your help! Appreciate it!

[2015-04-28 21:49] redruff commented on #135
where would one find the release version?
Yep Khair-eddine...I'm dead in the water right now.

[2015-04-28 21:55] z3t0 commented on #135
Sorry, would have linked you before but I was on my phone.
https://github.com/shirriff/Arduino-IRremote/releases

On Tue, Apr 28, 2015 at 3:49 PM, redruff <notifications@github.com> wrote:

--
Thanks,
Rafi Khan

[2015-04-28 21:59] khair-eddine commented on #135
hii bro, @z3t0 working on multi reception or emission ?

[2015-04-28 22:10] redruff commented on #135
emmission, gonna give the release version a try in a minute.

[2015-04-28 22:10] redruff commented on #135
oops.sorry you meant that for Z3to!

[2015-04-28 22:21] redruff commented on #135
Well that did it! At least on my Mac at home! Will try the release version on Winblows machine at work tomorrow! Man that was painful! LOL..
Thanks you two!
Red

[2015-04-28 22:29] khair-eddine commented on #135
well good for you, i didn't know about the modification :)

[2015-04-28 22:33] redruff commented on #135
me either! LOL
thanks again for the replies!

[2015-04-28 23:06] z3t0 commented on #135
@khair-eddine @redruff The development workflow we are using now is that we develop the code on the master branch and then release them when things are relatively stable. I am thinking of alternatives because this is not too effective since we do not have the equipment to test some of the changes (like adding new protocols) and so development is slowed.

[2015-04-28 23:07] z3t0 commented on #135
Also, the guides on Sparkfun and other websites have not been updated... I have contacted @SparkFun but they dont seem to be responding

[2015-04-28 23:30] redruff commented on #135
yep, I went to a couple other websites looking for alternatives, it was all the same.
As a rookie, the examples tend to be pretty solid, so I was a little flummoxed with this one!

[2015-04-29 00:36] z3t0 commented on #135
@redruff Yep, the main reason this one is different is that devs tend to create protocols for something like a LG Remote from documentation and submit the code and then the problem is that the people maintaining the project (like me) usually do not have the required equipment to test with (like lg tv) and so the development in this is not a straight line but one that is crooked.

[2015-04-29 00:39] z3t0 commented on #134
@renno-bih No problem! Any particular reason for that chip? I am working on my own arduino project and may even get that chip to make things easier.

[2015-04-29 00:41] z3t0 commented on #135
@redruff  use a backtick for code. I'll edit your response above to show you what i mean.

[2015-04-29 00:42] z3t0 commented on #135
@khair-eddine Both actually. As soon as I get my TV working with IR-Remote I am working on a guide to adding new protocols so we can make it easier for junior devs to help as well.

[2015-04-29 00:43] #135 closed

[2015-04-29 00:46] z3t0 commented on #123
@levsa Umm was it? Lol you did author the PR haha

[2015-04-29 00:46] z3t0 commented on #122
Could you create a PR with a fix?

[2015-04-29 07:04] renno-bih commented on #134
I'm using Wifi and it requires more SRAM and flash memory, that is why I want to switch to atmega1284p.

I tried prototyping with atmega2560 and CC3000 wireless module but I have additional problems.
Using IR remote library works but as soon as I initialize connected client it stops working properly.

When I initialize ```Adafruit_CC3000_ClientRef client = httpServer.available();``` IRremote libra

[2015-04-29 10:32] khair-eddine commented on #135
@z3t0 yes bro the problem is multiple transmission and multiple reception because multiple reception works alone well and multiple emission works like a charm (at least for me) but the problem is when we use multiple reception with irsend.

[2015-05-04 15:49] AnalysIR opened #136 "Change parameter type for mark & space functions"
Hi guys

The parameter passed to the **mark and space** functions is defined as `int time` (16 bit signed) with a max value of 32767 (dec) or 0x7FFF.

However, both functions make  use of `delayMicroseconds(uSecs)` which has some limitations:
- A value '0' should not be passed which is already handled by both functions
- The maximum valid value that can be passed to `delayMicroseconds(uSecs)` is 1

[2015-05-04 16:08] AnalysIR commented on #49
`RAWBUF` can be a max of 255. (based on `rawlen` see below)

This is because `rawlen` is defined as an unsigned 8 bit byte and controls filling up of the buffer when receiving signals. Defining `RAWBUF` as longer than 255 would just waste SRAM.

As an alternative, you could try using IRLib which allows for longer signals.

I don't believe this is a bug/issue, as the library is functioning as desig

[2015-05-10 13:43] RossosHEX opened #137 "RAWBUF could be larger"
Not really an exact Issue, just a remark:
If you have Sony or some other R5/R6 protocol Infrared remote control, which apparently sends their signal 3 times instead of using checksum last bits, you may need to open up <IRremote.h> file manually and go all the way down and adjust the RAWBUF constant. By default it is 100, but my codes were of the size 182. I've set the constant to 192 (higher value

[2015-05-10 13:47] #137 closed

[2015-05-10 13:58] AnalysIR commented on #137
Yes many AC units fail in IRRemote because of the RAWBUF size limit, which can be changed at the expense of SRAM.

FYI: Don't confuse your Airwell RC-5(RC) with the RC5 IR protocol from Philps. I have seen on several AC units and some Camera controls the use of RC-5 or RC-6 which does not mean they use the RC5/RC6 protocol. (Just an obvious name selected for the model number of hte remote)

Howeve

[2015-05-10 14:14] RossosHEX commented on #137
Thanks for your quick reply.

I've tried using
#define RAWBUF 192
after #include <IRremote.h>
within the Arduino Sketch itself, but it didn't work.

[2015-05-10 14:21] AnalysIR commented on #137
Unfortuately, that is a restriction/limitation of the way it is designed. It shouldn't be too difficult for the developers to make it adjustable.

[2015-05-14 14:23] AllAboutEE commented on #117
According to #99 it only works in sublime, and it's just bad practice over all. I'll separate the functions into different files and submit a pull request, I know it was said in #100 that it breaks the Arduino convention of including only one library but I'm sure people will understand.

[2015-05-14 14:34] z3t0 commented on #117
Yep, this is quite a big priblem and we are yet to find an ideal solution.

----- Reply message -----
From: "Miguel Alvarez" <notifications@github.com>
To: "shirriff/Arduino-IRremote" <Arduino-IRremote@noreply.github.com>
Cc: "Rafi Khan" <zetoslab@gmail.com>
Subject: [Arduino-IRremote] #define statement for different devices selection doesn&apos;t work (#117)
Date: Thu, May 14, 2015 08:23
Accordin

[2015-05-14 14:36] AllAboutEE commented on #117
I think I found one: I'm going to use namespaces instead of defines, that way we can keep the one file include statement and do "using namespace NEC" instead of "#define SEND_NEC" which does not work.

[2015-05-14 19:31] BladeSlayer1000 opened #138 "Unable to use analogWrite"
Dear,

I'm currently unable to use analogWrite with the current version. Is it a bug, or am I doing something wrong? The code I'm using is;

[code]

[2015-05-14 20:07] BladeSlayer1000 commented on #138
I'have fixed the issue. I was using pin 11 and 3, the both use the same timer which causes conflicts with eachother.

Maybe its something to write about in the wiki, so people dont have the same problem as me.

[2015-05-14 20:41] z3t0 commented on #138
Thanks and i will.

--
Thanks,
Rafi Khan

----- Reply message -----
From: "BladeSlayer1000" <notifications@github.com>
To: "shirriff/Arduino-IRremote" <Arduino-IRremote@noreply.github.com>
Subject: [Arduino-IRremote] Unable to use analogWrite (#138)
Date: Thu, May 14, 2015 14:07
I'have fixed the issue. I was using pin 11 and 3, the both use the same timer which causes conflicts with eachother.

Ma

[2015-05-14 22:34] z3t0 commented on #18
@Marsfan Please let me know if you still need help, for now I will be closing this issue

[2015-05-14 22:34] #18 closed

[2015-05-14 22:35] z3t0 commented on #20
@khair-eddine Sorry I have been a bit disconnected lately... but Im back! and will get to work on this! I will have a release out as soon as I manage to fix our #define error

[2015-05-14 22:36] z3t0 commented on #23
Closed.

[2015-05-14 22:36] #23 closed

[2015-05-14 22:36] z3t0 commented on #36
Thanks for pointing this out, I will see if I can figure it out

[2015-05-14 22:39] z3t0 commented on #49
I'll look into that to see if we can improve this library by referring to it.

Maybe I'll create a label for Feature Requests like this.

Which is why I dont really want to neglect this

[2015-05-14 22:40] z3t0 commented on #91
@tytower did it work?

[2015-05-14 23:13] tytower commented on #91
Are you on something The fix was suggested by me

[2015-05-14 23:22] z3t0 commented on #91
Oh sorry about that

--
Thanks,
Rafi Khan

----- Reply message -----
From: "tytower" <notifications@github.com>
To: "shirriff/Arduino-IRremote" <Arduino-IRremote@noreply.github.com>
Cc: "Rafi Khan" <zetoslab@gmail.com>
Subject: [Arduino-IRremote] Arduino Due and IDE 1.5.7 (#91)
Date: Thu, May 14, 2015 17:14
Are you on something The fix was suggested by me

&mdash;
Reply to this email directly or v

[2015-05-15 21:24] khair-eddine commented on #20
hii bro i can now send on multiple ir led and receive on multiple receivers, i think it's odd and it needs more work but at least it solved my problem for the moment
what I've done is changing the TIMER_DISABLE_INTR on timer0 i don't know if that won't make other problems so when i finish the project i'll try to figure it out.

[2015-05-16 00:05] z3t0 commented on #20
@khair-eddine That sounds great. Keep us up to date on your progress and if you learn something new.

[2015-05-16 01:49] z3t0 opened #139 "Re-factoring Code"
Hi All,

@zenwheel @levsa @Lauszus @PaulStoffregen @shirriff @joshuajnoble

I am working on re-factoring the library since the community is growing and the library with it. We need to develop a new system for managing features and new additions, especially adding protocols. This is to ensure that the library remains efficient and minimal.

1. We could use #defines within the library that would spe

[2015-05-16 02:18] z3t0 commented on #139
Hi, should we remove the blinking of pin 13? I don't really see this as too practical because people are likely to have something connected to 13 that may not be an LED. If we want to keep this we should probably use a #define at the top or something.

[2015-05-16 14:49] khair-eddine commented on #139
hi, i think it's a good idea to modify the lib or even to create two releases like you said but we first have to make it work without any error. i think blinking led 13 is useful at least for testing the ir led is working or not.. i'm busy with my project now so i need another month then i'll start contributing

[2015-05-16 22:18] z3t0 commented on #139
@khair-eddine Sounds good, contribute when you're free but if you can just reply to my ideas so that I know what would be a good idea.

[2015-05-16 23:17] z3t0 commented on #139
Anyone know the difference between these two sharp sends?
[code]

[2015-05-17 10:05] khair-eddine commented on #20
okai bro i will :)

[2015-05-17 11:11] joshuajnoble commented on #139
They're legacy. Not sure about the provenance.

On Sun, May 17, 2015 at 1:17 AM, Rafi Khan <notifications@github.com> wrote:

--
joshua noble
http://thefactoryfactory.com

[2015-05-17 16:06] z3t0 commented on #139
By legacy do you mean they do not work? Or that only one of them is needed. It's kinda hard to find any documentation...

[2015-05-17 23:39] leoditommaso opened #140 "Help with adding new protocol [LG]"
I'm trying to get my LG air conditioner remote working but I'm a little bit confused. I've tried IRrecvDemo sketch with some remote controls and it works OK but not with my LG remote, it shows nothing in the serial monitor when I press any button on that particular remote.

I've also tried the IRrecvDump with the same remote and I'm getting stuff like the following:

[code]

What I'd like to know

[2015-05-18 00:30] AnalysIR commented on #140
Hi
I had a look at your signals and it doesn't look like any typical AC signal I have seen recently. It may be that you are not capturing the complete signal, although your output does seem to be consistent.
(click for larger view)

![lg_ac_635675090630959611_analysir_trace_image](https://cloud.githubusercontent.com/assets/4930550/7672894/de5e5952-fcfc-11e4-8c1b-66b01f0bec51.png)

The protocol wil

[2015-05-18 00:32] toddtreece commented on #139
I added one of the sendSharp's a long time ago before this project was on GitHub. I'm not sure if it still works because I haven't used this library in a long time, but I still have the same Sharp TV and can test at some point soon if you'd like.

[2015-05-18 00:55] z3t0 commented on #139
@toddtreece Thanks. In that case I will keep both functions there and release a test version once I am done.

[2015-05-18 01:45] leoditommaso commented on #140
Thanks a lot for your detailed explanation. All of this it's clearly not within my skillset capability, but I'll give it a try, it'd be great for me (and probably for others) if I can get this working. I will let you know the result...

Thanks again dude!

[2015-05-18 02:51] z3t0 commented on #140
@leoditommaso I will see if I can help simplify the process. Also if you have ANY problems just ask and we will do our best to reply, regardless of the problem. Remember, there are no stupid questions.

[2015-05-18 03:10] leoditommaso commented on #140
@z3to thank you!!

[2015-05-18 03:50] z3t0 commented on #140
@leoditommaso No problem! I am in the same boat as you (no idea how ir actually works).
I am going to be learning about this and how to implement my own protocol too so I will keep you posted on good resources, here's one now.

http://electronics.howstuffworks.com/remote-control.htm

[2015-05-18 04:55] z3t0 commented on #139
Should this library be made c only? I think it may bring in performance improvements, which may or may not be measurable...

[2015-05-18 12:25] AnalysIR commented on #140
Here is a very good site - all about IR remote control signals:

http://www.sbprojects.com/knowledge/ir/

[2015-05-18 12:30] AnalysIR commented on #139
Have you considered merging efforts with the Author of IRLib (also active on GitHub), which is a more recent/modern re-write of IRremote. It is actively supported and has very good documentation.

It seems a pity to dilute any scarce resource/effort across 2 streams!

[2015-05-21 23:37] z3t0 commented on #139
@AnalysIR
Sorry for the late reply.
I have definitely and still am considering that we collaborate or even form one merged modular library but right now the priority is to get this one stable first.

[2015-05-30 18:45] e-dredon opened #142 "Compiling issue with the experimental branch and problem sending the signal with the exemples."
Hello,
I spent some time trying to get the library working on an arduino UNO R3 (USB controller CH340G), an 1.35v to 1.6v tolérent IR LED and a VS1838B IR receiver.
I'm using the arduino IDE 1.6.4
None of the demo will compile on the master branch even I solved the conflict with the stock robot IR library, so I finally downloaded the 1.01 experimental branch on github
there was also a fatal error

[2015-05-30 18:58] z3t0 commented on #142
Please use the latest stable [release](https://github.com/shirriff/Arduino-IRremote/releases/tag/MAJOR) since the master and experimental branches are undergoing a re-write due to an overlook in regards to the compiling process. #139

[2015-05-30 19:03] AnalysIR commented on #142
VS1838B.... is possibly the worst IR receiver you could have chosen...see
http://www.analysir.com/blog/2014/12/08/infrared-receiver-showdown-tsop34438-vs-vs1838b-winner-revealed/
...no surprise you get issues

FYI: I have never heard of 6v tolerent IR Led. Typical forward voltage of  an IR LED is around 1.35V @100mA, increasing to 3V @1A.

[2015-05-31 04:50] e-dredon commented on #142
Wow, I didn't expect such an enthusiastic community. Thanks so much for the 2 lightspeed answers ;)
z3t0: I tried the stable release that the fails to compile with the same variable definition issue as i experienced with the master branch.

AnalysIR: I have a VISHAY TSMP58000 from radioshack on the way, but the transit will take a while. As I went to the electronic store last friday to get stuff f

[2015-05-31 13:43] AnalysIR commented on #142
Unfotunately, the TSMP58000 will not work with IRremote.

This is an IR Learner which provides the actual carrier as well.

You need something like TSOP34438 or another TSOPxx38.

FYI: They are not 1.6V 'tolerant' per-se. The correct terminology is forward voltage drop across the IR Led.

[2015-06-01 20:20] ArjanDeVries opened #143 "irrecv.resume not working after irsend.sendNEC"
Hi,

The following code sends only one time the NEC code. After the resume command nothing is received anymore. Changing the line irrecv.resume() in irrecv.enableIRIn() gives a working solution. So i think something in the send and receive library is conflicting.

My arduino code:

[code]

Regards,
Arjan de Vries

[2015-06-01 20:26] AnalysIR commented on #143
you must ebale the receiver everytime after sending

  irrecv.enableIRIn(); // Start the receiver

[2015-06-02 00:50] marclar opened #144 "How to replay a raw code?"
I've used the `IRrecvDump` example to get the signal from my air conditioner's power button:

[code]

Now I'm not sure how to proceed. How do I convert that to be sent using the `IRsendDemo`?

Thanks so much :)

[2015-06-02 02:08] z3t0 commented on #144
Not certain but take a look here https://github.com/shirriff/Arduino-IRremote/blob/master/examples/IRrecord/IRrecord.ino

[2015-06-02 02:10] z3t0 commented on #144
Not sure why you are using that though, try IRrecvDemo and then send with IRsendDemo. That should be better.

The way I understand it the IRrecvDump is just a broken up IRrecvDemo for debugging or adding new protocols.

[2015-06-02 11:46] ArjanDeVries commented on #143
That is indeed what i also see, but I did not excepted that. But if this is the way to do it, i will do it like this.

Thank you very much for your quick answer. btw if this documented anywhere?

Regards,
Arjan de Vries

[2015-06-02 12:35] AnalysIR commented on #144
Lucky you, that your AC unit uses standard NEC signals. Normally, it is much more complicated for AC signals.

Irsend.sendNEC(0x19F6D827, 32);

alternatively, you could send using sendRAW.

Best approach would be to work thru all of the examples provided with the library first, so you become familiar.

[2015-06-02 12:37] AnalysIR commented on #143
I believe it is mentioned in the Author's blog...somewhere.

[2015-06-02 15:49] marclar commented on #144
Awesome -- thanks for the feedback @z3t0 & @AnalysIR -- I'll keep at it.

[2015-06-02 15:49] #144 closed

[2015-06-14 01:45] csBlueChip opened #145 "#ifdef AIWA_RC_T501"
v1.0, IRremote.cpp, line 560
is: #ifdef AIWA_RC_T501
should be: #ifdef DECODE_AIWA_RC_T501

[2015-06-14 01:48] csBlueChip opened #146 "Missing SEND functions"
The following decode functions have no matching send functions:
# ifdef DECODE_SANYO
# ifdef DECODE_MITSUBISHI
# ifdef DECODE_LG

[2015-06-14 01:56] csBlueChip opened #147 "Missing DECODE functions"
There are no matching decode functions for
# ifdef SEND_SHARP
# ifdef SEND_DISH

[2015-06-14 04:26] z3t0 commented on #139
#145 #146 #147 @BlueChip Thanks for all the fixes, I'll incorporate it into this. I'm almost done and will commit to experimental soon.

[2015-06-14 14:56] csBlueChip opened #148 "sendSharp"
In IRremote.cpp, line 1380 within #ifdef SEND_SHARP
Two functions are declared, both called sendSharp(...)
The second of which simply calls sendSharpRaw(...)
The function sendSharpRaw(..) does not exist

Looking at the .h file it seems that the first (larger) occurence of sendSharp() should be renamed to sendSharpRaw()

[2015-06-14 18:00] z3t0 commented on #148
Yeah I noticed that too when I was going through... apparently one is legacy or something. I don't really have any Sony products to test it with but someone has agreed to do so once we have a release ready.

[2015-06-15 10:57] brahbassim opened #149 "Customise"
Please how to customize the library to handle other brands? i have a TV witch is Hisense , and this library don't handle Hisense brand  . So i want an issue for this problem, and in future every one could customize and add new brands.

[2015-06-15 13:57] brahbassim commented on #128
Hi, @khair-eddine
It's been a long time that i'm looking how to customise this library, how to add more IR emetter, and how to add new brand protocol, for exemple Hisense. If have any issue i will be the happiest in the world. thank's

[2015-06-15 18:36] z3t0 commented on #128
Hi, So is your question to add another protocol? If so I'll take a look and
make a guide soon.

On Mon, Jun 15, 2015 at 7:57 AM, Brah Bassim <notifications@github.com>
wrote:

--
Thanks,
Rafi Khan

[2015-06-15 18:48] brahbassim commented on #128
Hi @z3t0 , yes my first question is how to add new protocol. Thank's

[2015-06-15 19:57] csBlueChip commented on #148
Looking at the header file, I'm pretty convinced it's just a typo ...as it stands a C compiler would belch, I think a C++ compiler will overload the function - which, although quite cool, can be confusing when debugging

[2015-06-15 19:59] csBlueChip commented on #149
Yes, I've noticed my DENON and my XBOX(original) remotes produce "UNKNOWN" ...A little article on this would be very useful and I will certainly submit my findings for inclusion :)

[2015-06-15 20:26] csBlueChip opened #150 "Significant reduction in code size"
Sorry, created in error by abusive use of my browser's [back] button

[2015-06-15 20:28] csBlueChip opened #151 "Significant reduction in code size"
This is a reduction in the size of the .cpp file, NOT a reduction in the size of the compiled program

I've noticed in the .cpp there are a lot of blocks such as:
`#ifdef DEBUG`
`Serial.println("Attempting RC5 decode");`
`#endif`

A cleaner (more readable) way to achieve this is like this:

At the top of the .cpp file:
`#ifdef DEBUG`
`#  define DBG_SER_PRINT(...)    Serial.print(__VA_ARGS__)`
`#

[2015-06-15 20:42] #150 closed

[2015-06-15 20:49] csBlueChip opened #152 "Faster+smaller send() loops"
BTW. If the code wasn't undergoing a major overhaul right now I would fork+pullRequest these changes, I think I've just arrived at a bad time - anyway, I hope these comments are appreciated - if not, let me know and I will shut up ;)

I notice that the send loops have instructions which can be removed. I have picked one at random and corrected it here:

original:
`void IRsend::sendRC5(unsigned lon

[2015-06-15 22:52] z3t0 commented on #151
Anything related to code errors can be posted in #139 to keep things organized.
Thanks for all your contributions, I am almost done on the rewrite and will commit to experimental sometime in the coming weeks, for the next few days I will be busy with other things but will still reply to issues on Github.

[2015-06-15 22:52] z3t0 commented on #151
Definitely a good idea

[2015-06-16 12:23] ipekbocegi commented on #128
@khair-eddine Thank you for modifications for 3 transmitter at the same time.

I  replaced your .cpp, .h versions with the original library. I tried your code but It gives the following error:
S_demo.cpp.o: In function `loop':
C:\Program Files (x86)\Arduino/S_demo.ino:26: undefined reference to `IRsend2::sendJVC(unsigned long, int, int)'
C:\Program Files (x86)\Arduino/S_demo.ino:28: undefined refe

[2015-06-16 13:17] nshobhit commented on #20
Hi @Neco777  ! I was able to get the library working for upto 3 IR receivers, with the use case that only 2 would be seeing signals at any time. Subsequently, I have tried integrating your approach with another working IRRemote library for Arduino Due. The approach is same, populate a global list of IRParams for each instance of receiver and and on each interrupt process them sequentially.
The cod

[2015-06-16 13:19] nshobhit commented on #20
This the Due Library
https://github.com/enternoescape/Arduino-IRremote-Due

[2015-06-16 18:50] z3t0 commented on #149
I will work on a small guide very soon.

[2015-06-17 19:53] csBlueChip commented on #149
Just stumbled across these:
"Old" Panasonic (22 bits) : http://users.telenet.be/davshomepage/panacode.htm
RC5 : http://users.telenet.be/davshomepage/rc5.htm
Daewoo : http://users.telenet.be/davshomepage/daewoo.htm
Sony : http://users.telenet.be/davshomepage/sony.htm
JVC : http://users.telenet.be/davshomepage/jvc.htm
I've not studied them all yet, but I imagine that doing so will lend an idea to de

[2015-06-18 03:56] z3t0 commented on #151
@csBlueChip I am away for a while and thought that it would be helpful to use the label "Write Code" to signify issues directly related to code changes that may or may not affect other things. Anything that mainly focuses on code can be labeled by that.

[2015-06-18 03:59] z3t0 commented on #151
@csBlueChip Also please mark anything relying on the re write with the 2.0 milestone... just helps keep things organized :D

[2015-06-18 18:33] csBlueChip opened #154 "Possible bug in AIWA send() function"
I cannot for the life of me work out how to add the "write code" tag - help!

See inline comment:

[code]

[2015-06-18 20:20] z3t0 commented on #154
screenshot shows how to add the tag.

![image](https://cloud.githubusercontent.com/assets/9000061/8241194/22545f86-15c5-11e5-83f8-4426740b3857.png)

Basically on the right side bar (left of the issues/pull requests) click labels and search for the write code label.

[2015-06-18 20:21] z3t0 commented on #154
@csBlueChip Yes that seems to be one of the main problems, it becomes hard to maintain code when we do not have access to the equipment required to run tests...

[2015-06-18 22:17] csBlueChip commented on #154
@z3t0 Labels: "Labels\nNoneYet", "Milestone", "Asignee" are all just text for me (nothing clickable) maybe there is a github option to enable "label changing for all commenters" or such? :/
Testing: Yes, we need to educate the Arduino community "if it doesn't work for you, *come and talk to us* ...programs/projects are made by more minds than the code jockeys who type stuff in" :)

[2015-06-19 13:56] EricSKennedy opened #155 "Help to disable Led 13 blink"
Thanks for a great and useful library!  This is more of a support request, because I think you've already got this feature included, I just can't seem to figure out how to use it.  The library seems to use Pin 13 to give visual feedback on the IR receive.  I've been contributing to a Blockly-based multi-language arduino code generating IDE.  My latest add was a series of blocks for IR remote contr

[2015-06-19 15:30] AnalysIR commented on #155
In IRremoteInt.h you can change the pin from 13 to whatever pin you want. (in the local copy of the library on your system)

[2015-06-19 15:38] EricSKennedy commented on #155
Thanks!  Can I disable blinking entirely?  Is there somewhere I can set blinkflag to false?  Will that turn it off? or should I use  "#define BLINKLED       0"  Ideally I'd love to send in a parameter from base adruino code without modifying the library.  That way I can leverage your excellent work without having to modify it every time.

[2015-06-19 15:45] AnalysIR commented on #155
Try

[code]
Making the pin something invalid like 99, should stop the pin being set as output

the other 2 defines just serve to turn on/off defines to nothing.

There doesn't seem to be a way to select the led pin or disablle it - generically

[2015-06-19 15:49] EricSKennedy commented on #155
Thanks, I'll give that a try...

[2015-06-19 15:49] #155 closed

[2015-06-19 18:13] csBlueChip commented on #154
I have emailed @crash7 and asked him to review this issue ...hopefully he will be able to verify if I am right or wrong.

[2015-06-19 18:16] z3t0 commented on #154
@csBlueChip Sounds good. The reason I wanted to work of the Release was because the master branch as of now is unstable and it would have been more reliable to start from a stable state

[2015-06-19 20:08] crash7 commented on #154
Hi all,

@csBlueChip I will check this, thanks for reporting it! Give me a couple of days :)

@z3t0 I believe that reporters can't assign labels to their issues (or pull requests), only collaborators can!

[2015-06-19 20:15] z3t0 commented on #154
Okay I had no idea. I'll just assign them from now on then.

[2015-06-20 01:57] khair-eddine commented on #128
hey @ipekbocegi  sorry for late reply bro,
can you tell me what version of ide you are  using ?

[2015-06-20 02:02] z3t0 commented on #128
This probably has to do with the #define usage. If you want to use JVC then remove the lines like https://github.com/khair-eddine/Arduino-IRremote/blob/khair-eddine-patch-1/IRremote.cpp#L244
or if you want just do #define SEND_JVC at the top of the file IRremote.cpp and then try it

[2015-06-20 02:03] z3t0 commented on #128
Ohh wait. I got it. You replaced his files with the originals... thats what broke it. The master does not yet have multi receiver support

[2015-06-20 02:04] z3t0 commented on #128
@brahbassim Please create a new issue just to make things easier to maintain

[2015-06-20 02:07] z3t0 commented on #128
@khair-eddine I am on the #arduino IRC if you wanna chat about this

[2015-06-20 02:18] khair-eddine commented on #128
hii bro @z3t0  okai :)

[2015-06-20 14:28] MACscr opened #156 "Recorded as NEC, Sent back shows unknown?"
Ok, so when I record a button from my LG remote using the IRRecord sketch, its showing the code as:

`Received NEC: 20DF40BF`

So then I enter that into the IRsendDemo on my other arduino that has the IR led connected to it:

`irsend.sendNEC(0x20DF40BF, 32);`

But back on receiving arduino (just doing this for testing), im getting:

`Received unknown code, saving as raw
 m8700 s4650 m400 s750 m350

[2015-06-20 15:14] AnalysIR commented on #156
Looking at the timings you are getting on the receiving Arduino - some are way off.
The timings are 9000,4500,560 & 1690. Normally +/- 100 or 150 uSecs is OK, but you are getting as low as 350 which looks like the problem.

I supect your IR receiver might be the cause. What is the model number / data sheet link?.
How is your IR Led wired up for tx?

[2015-06-20 18:42] csBlueChip opened #157 "sendSharp - code query"
sendSharpRaw() states "Sending codes in bursts of 3 (normal, inverted, normal) makes transmission much more reliable." ...but the code that follows does NOT (appear to) invert the signal during the second transmission!?

[2015-06-20 18:48] csBlueChip commented on #156
I originally purchased a VS1838B IR receiver module from China ...It produced, at best, garbage, and some remotes (such as my first-gen-Xbox remote) were not recognised at all ...I purchased a Vishay TSOP4838 (note the important "38" on the end of that, it means 38KHz) [from Rapid Electronics] and all was well ...Another thing that you might want to check is that you have an appropriate filtering

[2015-06-20 18:53] csBlueChip commented on #157
Please ignore this erroneous report

[2015-06-20 18:53] #157 closed

[2015-06-20 19:20] AnalysIR commented on #156
+1
VS1838B is total rubbish.
see: http://www.analysir.com/blog/2014/12/08/infrared-receiver-showdown-tsop34438-vs-vs1838b-winner-revealed/

For the better quality Vishay IR receivers, the capacitor+resistor are usually optional, to reduce noise.
The TSOP34438 model would be my favourite, these days.

[2015-06-20 20:41] MACscr commented on #156
I find it so odd that the ones Receiver/transmitter pack I received from Amazon had such great reviews if they are so bad and they don't even sell any of the TSOP34438's. eBay doesn't sell them either. Are we sure the issue is the receiver and not the transmitter?

- Mark

[2015-06-20 20:54] AnalysIR commented on #156
Not sure of anything....I guess more than a few things sold by either of the sites you mentioned are rubbish. Try Digikey, Mouser, Newark/Farnell/Element14 or RS for electronic components.

....is there a reason you haven't posted the model nos/link?...or how you have wired up the IR Led.
Difficult to provide informed assistance....'in the dark' :)

[2015-06-20 21:10] csBlueChip opened #158 "decodeSanyo - possible error in code"
decodeSanyo() has this line of code:
`int   offset = 0;  // Skip first space`
but setting offset to 0 does not skip the pre-gap, so ether the comment is wrong or offset should be set to 1

[2015-06-20 21:36] MACscr commented on #156
These are what I bought: http://www.amazon.com/gp/product/B00EFOQEUM?psc=1&redirect=true&ref_=oh_aui_detailpage_o00_s00

This is the receiver: http://chioszrobots.com/2014/02/11/vs1838-tl1838-vs1838b-universal-infrared-receiving-head-remote-control/. I simply have it plugged into 11 for data, 5v for power, and then the ground. All on the Uno R3.

For the transmitter, I don’t have a data sheet (nei

[2015-06-20 21:55] csBlueChip commented on #156
@MACscr I'm afraid I only have bad news... This is what I bought originally: http://www.ebay.co.uk/itm/151332038832 ...The moment I replaced it with this: http://www.rapidonline.com/electronic-components/tsop4838-infrared-receiver-38khz-55-0905 all my problems instantly went away ...I've not tried the LEDs that came from ebay yet, so I can't comment on those
As for "positive comments" this was in

[2015-06-20 22:06] AnalysIR commented on #156
Ok
90%+ probability the IR receiver is an issue.
The IR LEds are probably OK or at least usable.

Best to get an IR receiver by Vishay. Most TSOPxxx38 will be better than the one you have.

You could try a 75R or 100R resistor instead, which might improve things, which should get you 3-4m range & make sure the top of the IR Led is pointed at the receiver.

Better still do up a circuit using a tran

[2015-06-20 23:31] MACscr commented on #156
Ordered. Though I just need it yo learn ygr codes properly. System will only transmit after.

On June 20, 2015 5:06:12 PM CDT, AnalysIR <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-06-21 11:49] MACscr commented on #156
So I took another receiver from a HP MCE receiver that I had. Though it was super sensitive to light, I did most of the time successfully get the NEC code for turning on my tv from my remote. I then put that code into the sketch for my Nano and it actually successfully showed the it receiving the NEC code on the Uno most of the time too. Unfortunately it still doesn't actually work on my tv to tur

[2015-06-21 11:50] MACscr commented on #156
How do i know what the second value (32) should be in irsend.sendNEC(0x20DF40BF, 32)?

[2015-06-21 11:58] AnalysIR commented on #156
32 is correct as NEC is a 32 bit protocol with a carrier frequency of 38 kHz.
(You will notice as well that every second byte is the inverse of the one before.)

If the nano is running at 3V3 (vs 5V) then you could reduce the value resistor. I suspect your next step should be to build a transistor driver for sending the IR. (examples via google)

[2015-06-21 12:00] AnalysIR commented on #156
Maybe the IR LED is a 'cheapo' as well.

FYI: TSAL6x00 are good ones from Vishay. (TSAL6100,TSAL6200 or TSAL6300)

...read the data sheets to see the difference in angle vs range

[2015-06-21 12:34] MACscr commented on #156
I got it working! I accidentally had it as 38 instead of 32!

[2015-06-21 12:36] csBlueChip commented on #156
Fantastic news! Well done! ...Thanks for keeping us updated all the way :)

[2015-06-21 12:43] MACscr commented on #156
Thanks everyone for the help!

I think i got the idea of 32 from a tutorial and posted it here, and then AnalysIR confirmed it and then I realized I wasn't even using that value. Glad I asked! If each type (NEC, SONY, etc) have their own protocol that should be used and it's known, why isn't that in the readme so we don't have to guess? Or heck, why not have it built into the function instead of h

[2015-06-21 12:48] csBlueChip commented on #156
If I read z3t0 correctly, he has (in principal) accepted my pull request and will perform the pull inside the next couple of weeks ...If so, take a look at https://github.com/csBlueChip/Arduino-IRremote/blob/master/ir_Denon.cpp ...A lot of what you have said is there; although I think you are also correct "why do I have to pass in 'nbits'"?? Maybe there are a couple of protocols that have variable

[2015-06-21 12:54] MACscr commented on #156
but couldn't 0x just be added dynamically to the output for each copy and paste or to the input before its processed?

[2015-06-21 13:05] AnalysIR commented on #156
I suspect, if you had read the blog provided by the library Author, many of these things would have been clearer to you. (linked at the top of the code & examples)

....adding 0x to hex values does sound like a good idea. However, as it is a library which has to run alongside other code, the choice **may** have been to prioritise smaller Flash/SRAM usage vs usability???

[2015-06-21 14:40] csBlueChip commented on #156
@AnalysIR are you *sure* that MACscr's questions about 'code structure and bit length passing' and 'hex prefixing' are made clear in Ken's blog?

[2015-06-21 15:17] AnalysIR commented on #156
I think that if you read the blog posts & comments and work thru all of the examples provided with the library, you will have a good understanding of how to effectively use the library.

It seems the 0x convention of using HEX values is used within the library examples. Adding it to the values printed out by the library is a godd suggestion.

A search on the Arduino forum will uncover lots of expe

[2015-06-21 15:50] csBlueChip commented on #14
@lxbzmy Hello, I have just seen your patch.
= You speak of "pronto.pdf", where can I find this?
= In RC5, you say "first bit always one, second bit may 0 or 1(pronto.pdf) 0 means command bit will add 64" ...but you have /*removed*/ the header code, so the first bit can now be a 0 ...Can you explain please?
= In RC6, you say "  //tg bit ...  if (head & 0x80) {" ...but by the time this code is execu

[2015-06-21 16:46] kylegordon commented on #14
Possibly http://www.majority.nl/files/pronto.pdf ?

On 21 June 2015 at 16:50, BlueChip <notifications@github.com> wrote:

--
Kyle Gordon - 2M1DIQ
Web: http://lodge.glasgownet.com
Jabber/Email/SIP: kyle@lodge.glasgownet.com

[2015-06-21 17:41] csBlueChip commented on #14
@kylegordon I think you may be correct - your google-fu is strong :) ...Thanks.

[2015-06-22 11:04] csBlueChip commented on #156
@AnalysIR OK, So all he needed to do was read Ken's blog posts & all the comments people made about them; then (with so little knowledge of programming that "0x" was ellusive) read and comprehend a few hundred lines of poorly commented C/C++ spread over several examples; then go to the Arduino forums and read an unspecified number of the many tens-of-thousands of posts made by n00bs & experts alik

[2015-06-22 11:55] AnalysIR commented on #156
Hmmm... :(

...All anyone needs to do is to carry out a 'reasonable' amount of work.

I think you missed an important bit => The OP did get the support here & the issue was resolved!

Time to close this thread.

[2015-06-22 20:23] csBlueChip commented on #156
I have addressed the "output something that can be cut'n'paste'd" issue in IRrecvDumpV2.ino
Here is a test output:
[code]

[2015-06-25 23:00] z3t0 opened #161 "Gitter Room"
Hi All,

I just created a room in [Gitter](https://gitter.im/shirriff/Arduino-IRremote).
Feel free to pop up there so we can talk more about the library.

[2015-06-27 14:43] jfardello opened #162 "ATmega 328 not working at 12MHz"
atmega 328p at 12MHz (Adafruit Pro trinket 3v) is not working, at least for the NEC protocol, I've tried the same code on arduino uno and teensy and it is working fine.

Could it be the scaling not generating the right freq? Any suggestion on how to debug without an oscilloscope?

thanks,

[2015-06-27 17:17] AnalysIR commented on #162
You will need to manually adjust the timer definitions within the library to work with 12MHz instead of the more common 16MHz or 8MHz.

try setting
`#define F_CPU 12000000`
before you include the library.

If that doesnt work then just replace the following code in IRremotInt.h
`    #ifdef F_CPU
    #define SYSCLOCK F_CPU     // main Arduino clock
    #else
    #define SYSCLOCK 16000000  // main A

[2015-06-27 17:24] jfardello commented on #162
When setting the board to be the 3v trinket, F_CPU is already defined as 12000000. Also printing out SYSCLOCK also outputs 12000000, that's why I think the prescaler calculation might not be right in this case.

[2015-06-27 17:56] AnalysIR commented on #162
OK - can't think of what could be wrong and I don't have a 12MHz system to test, it should be a relatively straightforward calculation.

Have you confirmed the millis are correct/accurate? AVR Fuses set correctly? Are you using Timer2?

[2015-06-27 18:35] jfardello commented on #162
thanks for the quick response, I didn't messed with fuses if you mean that, first I thought it could be caused by using softwareserial at the same time (may be uses timer2 ?), but I can reproduce it by just calling sendNEC() on a button press.

The point is that I don't fully understand what's going on inside TIMER_CONFIG_KHZ, and why OCR2B is set to SYSCLOCK / 2000 / val / 3.

May be in the next

[2015-06-27 19:16] AnalysIR commented on #162
Why not try configuring the use of Timer1 instead of Timer2...in case there is a conflict.

[2015-06-27 19:23] jfardello commented on #162
Mostly because I can reproduce it without the softwareserial code.

[2015-06-27 19:36] jmwohl opened #163 "IR remote sends two codes in quick succession, only first one picked up."
I have an off-brand remote that sends two signals in quick succession when the power button is pressed. The library picks up the first, but the second is ignored... seems like the gap is big enough that it's recognized as and "end of code" but small enough that it isn't ready to handle the following signal.

Is there a way to increase the duration of time that needs to occur before a signal is dee

[2015-06-27 20:24] AnalysIR commented on #163
You could try the sketch in this blog post:
http://www.analysir.com/blog/2014/03/19/air-conditioners-problems-recording-long-infrared-remote-control-signals-arduino/

It wont decode the signal, but will record all the timings.

Is teh first part of the signal decoded by IRremote?

[2015-06-27 20:28] jmwohl commented on #163
That post looks like *exactly* my problem, thanks!

Yes, the first part is decoded by IRremote, and decoded as a Samsung code.

[2015-06-27 20:51] jmwohl commented on #163
@AnalysIR - You, sir, are a gentleman and a scholar. Worked like a charm, thanks much!

[2015-06-27 20:51] #163 closed

[2015-06-27 22:13] AnalysIR commented on #163
Great!

[2015-06-28 07:44] z3t0 commented on #14
I have edited the original post to make it easier to find sources of information.

[2015-06-30 23:19] csBlueChip opened #164 "Compiler bug breaks library"
Well, after a fair chunk of testing I have discovered that my "optimise the loops" patch has broken a bunch of code ...and it seems to be a bug in the compiler - someone please tell me I am wrong!
[code]
Expected result: `0x80000000`
Actual result: `0`

Despite:
[code]
Result: `0x80000000`

It's too late to work out what the heck is going on tonight, but be confident that now I know where it is, I

[2015-06-30 23:51] AnalysIR commented on #164
unsigned long  mask = 1UL << (32 - 1);

[2015-07-01 16:23] Luukth opened #165 "Error: unexpected unqualified-id before '.' token"
Error:
[code]
[code]

[2015-07-01 16:46] AnalysIR commented on #165
irsend.sendSony(1,1);

lower case "irsend" & your include statement is incorrect. The (1,1) is also not a standard set of values for SONY signals.  Unless you have very special requirements, please try to make use of & follow the examples provided with the library.

[2015-07-01 17:49] PureAbstract commented on #164
As @AnalysIR points out, this isn't a compiler bug - your code relies on undefined behaviour (see 5.8, [expr.shift] para 1) which says (in part):

[2015-07-01 19:01] csBlueChip commented on #164
Thanks guys. "You live and learn". I fully understand what went wrong now. Patch submitted.

[2015-07-01 19:01] #164 closed

[2015-07-03 14:16] georgerappel opened #166 "Random values with Ethernet Shield and RF receiver."
I'm having an issue when i plug my IR Receiver to a board with an Ethernet Shield. I'm using the following libraries:
# include IRremote.h
# include OSCMessage.h // Used to send messages over UDP to an OSC server
# include SPI.h
# include Ethernet.h
# include EthernetUdp.h
# include RCSwitch.h // Used with the Radio Frequency transmitter.

My guess is that its a problem with the Ethernet Shield.
-

[2015-07-03 14:25] AnalysIR commented on #166
You have a lot of libraries included...possible issues include - Timer conflict and/or pin conflicts. Do you have enough free SRAM left?

You could try changing IRremote to use Timer1 instead of Timer2, in IRremoteInt.h (pretty obvious) and note the tx pin on timer1 is 9 (instead of 3 for Timer2).

As a general approach, adding one library at a time might help highlight the issues.

Hope this help

[2015-07-03 19:36] georgerappel commented on #166
Thanks for the help, AnalysIR.

I tried in many different ways but i couldn't make it work.

Even when i upload the same code that works on the solo Uno board to the board with the ethernet shield it doesn't work. No other libraries included, using only the example provided.

[2015-07-03 22:38] AnalysIR opened #167 "IRrecvdump - bug & solution"
HI Guys

There is an annoying set of bugs in this IRrecvdump example provided with the library, which I know causes a lot of hassle & confusion for beginners etc.

1. The dump output always starts with a space which is generally not required and confusing to many users, particularly as sendRAW must always start with a mark.
2. The line `Serial.print(-(int)results->rawbuf[i]*USECPERTICK, DEC);` for

[2015-07-03 22:45] AnalysIR commented on #166
Unfortunately, I don't have that setup available to test with...sorry.

Might be worth an extended search on the Arduino forum.

[2015-07-06 08:44] aalku opened #168 "irrecv.decode not working after some time?"
This example code works for me with any arduino nano or bare atmega328p at 8Mhz but for both of them it freezes after some receptions and I have to reset the board/chip.

    void loop() {
      if (irrecv.decode(&results)) {
        Serial.println(results.value, HEX);
        irrecv.resume(); // Receive the next value
      }
      delay(100);
    }

Some times this happens fast and other times i

[2015-07-06 09:29] AnalysIR commented on #168
Might be a good idea to post the complete sketch.

...in the meantime try lowering the serial BAUD rate.

[2015-07-06 09:54] ReeceM commented on #168
AnalysIR, this question popped up on Arduin.SE
http://arduino.stackexchange.com/questions/13189/arduino-irremote-stops-working
I think it is the same person

[2015-07-06 11:44] aalku commented on #168
Yes I am. I started using PWM and serial and then started removing things until I left only the loop in the example and still freezes sometimes.

[2015-07-07 01:29] z3t0 commented on #168
Please test the new experimental branch as it is much improved!!! Will be releasing it within a few days. Credits go to @csBlueChip

[2015-07-07 09:04] aalku commented on #168
Maybe it has something to do with power load activated after reception. On my last test there is an arduino nano driving a relay, leds, and other stuff and a bareduino (powered by the ardunino nano) receiving IR and printing the read value to serial port so it is read by the arduino nano and do something. I noticed it usually hangs up after powering on the relay and the leds and not powering down.

[2015-07-07 11:20] csBlueChip commented on #168
If you suspect it's current draw, check this: http://pighixxx.com/nanopdf.pdf

[2015-07-07 11:33] AnalysIR commented on #168
Generally it is not a good idea to drive a relay directly from the arduino. You should use a transistor driving circuit in between & don't forget the protection diode (research this if unsure).

Driving a relay directly from any MCU will quickly damage the MCU permanently.

You can of course test all of this by replacing the relay with an LED&resistor.

[2015-07-07 11:38] aalku commented on #168
I plan to power leds from vin with a transistor activated by PWM and the relay is adapted to arduino with transistor or whatever. It has pins IN, VCC, GND, so I think it is OK.
I don't think the power drain is too high, the arduino program works fine, it only affects the infrared behaviour I think. Maybe there is a small power fluctiation when everything turns on.
Might it make the IR sensor emit

[2015-07-07 11:40] aalku commented on #168
I'm gonna try this ASAP on the bareduino:

    #include <IRremote2.h>

    int RECV_PIN = 7;
    int RST_PIN = 3;
    int LED_PIN = 13;

    IRrecv irrecv(RECV_PIN);

    decode_results results;

    void setup()
    {
      Serial.begin(9600);
      irrecv.enableIRIn(); // Start the receiver
      pinMode(RST_PIN, INPUT_PULLUP);
      pinMode(LED_PIN, OUTPUT);
    }

    void loop() {
      if (d

[2015-07-07 11:49] AnalysIR commented on #168
You need to drive the relay via transistor circuit with additional diode protection.

Otherwise, broken CMU.

If you do some research on the topic, you will see it is not just about power-drain.

It seems this is an electronics design issue & not directly related to the  IRremote library!

[2015-07-07 11:53] aalku commented on #168
I thought the library was the only thing not working (under certain electronic circunstances, ok). I'll shut up until I got more info. Thank you all very much.

[2015-07-07 18:21] aalku commented on #168
It seems the problem was noise on VCC pin of the IR detector. It made decoding quite hard. Arduino tutorials suggest to connect just the pins to GND, VCC, Arduino pin but the IR detectors data sheets suggest to connect VCC through a resistor and to a capacitor with the other end to GND. I hope you like my paint schematic ;-)

![image](https://cloud.githubusercontent.com/assets/12587056/8553676/4ea

[2015-07-08 21:07] z3t0 commented on #165
@AnalysIR has solved this issue by providing a fix. @Luukth If this has not solved your problem please re-open this issue, if a new problem arises create a new issue.

[2015-07-08 21:07] #165 closed

[2015-07-10 00:01] MeantCoder opened #170 "Arduino nano"
Hi,

I try teeny LC but not work and I change board Arduino Nano but what connect pin for transmitter?

Thanks..
(Sorry for bad english)

[2015-07-10 01:30] AnalysIR commented on #170
Digital pin 3 is the default on the nano

[2015-07-10 10:34] MeantCoder commented on #170
Thanks, I'm newbie Arduino :)

[2015-07-10 10:34] #170 closed

[2015-07-10 10:41] MeantCoder commented on #140
Hi,

This my basic TV Prank codes.
Step 1 Add TV IR codes
Step 2 Send IR codes (loop)
Have a Good Day

#include <IRremote.h>

IRsend irsend;

/* Samsung TV Power OFF */
unsigned int Samsung_OFF[68]={4700,4300,600,1650,550,1700,550,1650,650,400,600,500,650,450,550,500,550,550,550,1650,550,1700,550,1650,600,500,650,450,550,500,650,450,550,500,600,500,550,1650,600,500,550,500,650,450,650,400,650,450,

[2015-07-10 13:39] ipekbocegi commented on #20
@khair-eddine, @Neco777 will you please guide me how to merge the original released IRremote library and your multi transmit version and your multi receive version? I am newbie and confused within libraries. Thanks for all of your hard work. Best wishes

[2015-07-10 23:54] khair-eddine commented on #20
@ipekbocegi  well i can send you the lib by mail if you want to use it without understanding how, well it works for me for arduino uno and only ide 1.0.5

[2015-07-11 02:35] z3t0 commented on #170
@MeantCoder Teensy LC is now supported for receiving (sending is untested and unlikely to work). check #107

[2015-07-11 02:38] z3t0 commented on #167
@AnalysIR Is this one good?  https://github.com/shirriff/Arduino-IRremote/blob/experimental/ir_Template.cpp

[2015-07-11 02:39] #161 closed

[2015-07-11 02:39] z3t0 commented on #140
This might help. https://github.com/shirriff/Arduino-IRremote/blob/experimental/ir_Template.cpp
(Make sure you use the experimental branch for it)

[2015-07-11 06:27] z3t0 commented on #39
Closing as there does not seem to be any interest in adding support for this board.

[2015-07-11 06:30] z3t0 opened #171 "Teensy 3.0/3.1 Support Broken"
Somewhere along the rewrite we seem to have broken Teensy 3.0/3.1 support.
The version bundled with the teensyduino installer is still functional.

Log:
[code]

[2015-07-11 06:30] #91 closed

[2015-07-11 06:38] z3t0 opened #172 "Add Teensy LC Support"
## Add support for Teensy LC

I am working on adding Teensy LC Support. So far receiving works (courtesy of @PaulStoffregen and his modified IRremote bundled with teensyduino)

All changes mentioned are in #107 for now
### What Works:
- Receiving signals
### What does not work:
- Sending signals

[2015-07-11 13:03] AnalysIR commented on #167
@z3t0
I had a quick look at the template code & it sounds like an interesting and good approach, to help users.

one thing.....
I don't think the name of the file is desciptive enough. maybe New_IR_Protocol_Template.cpp or similar.

Finally, I don't see the connection between this template file and this issue about IRrecvdump - maybe split them up.

[2015-07-11 21:18] z3t0 commented on #167
@AnalysIR Yes, by the time I release 2.0 I will have written up an easy to follow guide in markdown.

My bad... I linked the wrong file..
[here](https://github.com/shirriff/Arduino-IRremote/blob/experimental/examples/IRrecvDumpV2/IRrecvDumpV2.ino)

[2015-07-11 21:19] z3t0 commented on #167
@AnalysIR Just a heads up, I believe code tags are 3 backticks (not four). Also you can add a syntax to use highlighting (I edited your OP so just check that to see what I mean)

[2015-07-11 22:28] AnalysIR commented on #167
@z3t0
I had a  quick look at the code you linked & I would suggest the following for the same reason as points 1 & 2 in my first post here.

[code]
....sorry but untested.

Overall, I like this approach of providing more information for users.

[2015-07-12 00:58] z3t0 commented on #167
@AnalysIR Thanks! I'll make the suggested changes and test.

[2015-07-12 15:11] aalku commented on #168
This is happening to me again. With the experimental branch today version.
Code: http://pastebin.com/L0YN3Psr
VCC is stabilized.
There is a RGB led driven with PWM. It's ok when the LED is off or it is white buy if I select random color mixes after some time it stop responding to IR. It's not decoding is wrong, it receives nothing.

If I reset IR works again.
If I send a command (vía USB/serial) t

[2015-07-12 21:56] rumpelheinz opened #173 "IRsend "breaking" IRrecv"
Hello,
I am working on a project where two arduinos have to communicate back and forth, using IR. In order to get to know this library, I tried the following code, which is supposed to let one arduino send x, and then the other one receives it and then sends back x+1, going on forever.

[code]

The code does not work, and through some debugging I've come to the conclusion, that as soon as  irsend.

[2015-07-12 22:16] AnalysIR commented on #173
Some comments:
1. Leave a longer gap between sends. many IR receivers will turn off if continuous signals are received. Try a 100ms gap & if that doesnt work up it towards1sec +, until it works.
2. I presume the other Arduino doesnt have the same sketch or it can never work. (remember that only one can send at the same time or there will be interference & failure)
3. once you get to the max of 12

[2015-07-13 02:43] z3t0 commented on #173
@rumpelheinz By latest release do you mean the one from master or the one in the releases?

The correct one is: https://github.com/shirriff/Arduino-IRremote/releases/tag/MAJOR

[2015-07-13 05:21] Longrange opened #174 "Arduino Micro issue"
When I hook up a LED to pin 3 on the arduino micro from adafruit I am unable to send any codes, If i just use the standard blink example it works through that pin. Im not sure if there's another pin I should be using or if there is just no support for the micro yet. thanks for the help

[2015-07-13 10:48] rumpelheinz commented on #173
I have gotten it to work now , using the following code.

#include <IRremote.h>
#include <IRremoteInt.h>

IRsend irsend;
int RECV_PIN = 11;
IRrecv irrecv(RECV_PIN);
decode_results results;
void setup()
{
  Serial.begin(9600);
  irsend.sendSony(1, 12); // Sony TV power code
  delay(50);
  irrecv.enableIRIn(); // Start the receiver
}

void loop() {
  if (irrecv.decode(&results)) {
    Serial.println

[2015-07-13 11:16] AnalysIR commented on #174
The adafruit micro is more like a Leonardo, so try Pin 9 instead.

[2015-07-13 13:43] ipekbocegi commented on #20
@khair-eddine I would be grateful thank you

[2015-07-14 02:19] khair-eddine commented on #20
@ipekbocegi  give me your Email adresse.

[2015-07-14 06:23] ipekbocegi commented on #20
ipek.000@gmail.com

[2015-07-14 22:31] joshuajnoble commented on #171
I think #171 is the fix for this, or at least, after making the same change the library works with the Teensy 3.1. We might also want to add the Teensy LC setting

    // Teensy-LC
    #elif defined(__MKL26Z64__)
        #define IR_USE_TIMER_TPM1 // tx = pin 16

[2015-07-14 22:57] Longrange commented on #174
I tried pin 9 and had no output, so I went down the pins 13 to 1 and got no outputs from any of them. im going to try just blinking the led to make sure I don't have faulty hardware, i'll post back.

[2015-07-15 06:59] Longrange commented on #174
Okay i figured it out. the pin i needed to use is pin 13 which is less than ideal considering that if I am over powering my send led I need to make sure it is disconnected before I upload code. I missed this because I was testing using the IRRecord example program and that uses pin 13 for indication. Thanks for the help.

[2015-07-15 16:55] z3t0 commented on #173
I'll write up an Api reference and we can go on to rename things from there if we need to.

[2015-07-15 16:57] z3t0 commented on #171
I have already added Teensy LC receiving support, is that for sending?

Also this issue is regarding the experimental branch... The stable release works with both 3 and 3.1

Will take a look at #171

[2015-07-15 16:58] z3t0 commented on #171
Oh... This is #171

[2015-07-15 17:28] joshuajnoble commented on #171
Yeah, I meant to put [this](https://github.com/shirriff/Arduino-IRremote/commit/2e4538bac8d48eb395be7f6c055c3d089c25aaee) not #171

[2015-07-15 17:41] z3t0 commented on #174
Definitely should not be pin 13...

This is the part for the Micro
[code]

Comment the line with pin 10 and uncomment the line with pin 9. The file is IRremoteInt.h

[2015-07-15 17:43] z3t0 commented on #171
Sorry I should have been more clear. It is that commit which allows the board to be detected and then results in the error log above.

[2015-07-15 18:22] joshuajnoble commented on #171
Interesting. I made the same change and see the following warnings on compile:

[code]

[2015-07-15 19:56] PaulStoffregen commented on #171
Oh, that's the newer versions of the compiler being a bit silly about excessive warnings.

This same warning has come up with other code that needed to read a hardware register, so the hardware would clear some internal state, but then had no need to actually do anything with the data.

You can suppress the warning with this:

      uint8_t tmp  __attribute__((unused)) = CMT_MSC;  \

[2015-07-15 21:40] z3t0 commented on #171
@PaulStoffregen Thanks! Will try that out... I was really confused at the error.

[2015-07-15 21:50] z3t0 commented on #171
@PaulStoffregen Without success...

Before:
[code]

After:
[code]

[2015-07-16 17:57] domonation commented on #20
When I used the library I get the error, IRremote.h no such file or directory compilation terminated

[2015-07-16 20:31] z3t0 commented on #20
Which library? The modified one?

[2015-07-16 20:52] domonation commented on #20
Never mind. Got it working. Using two sensors so far and it works like a dream! Getting some more in later on tonight. I have some high power LED that can handle up to 1A for really short bursts. The only problem I was having was that the IR LED stayed bright the entire time. Since I am using multiple emitters for a project, this was going to be a power problem. Using a BJT transistor as a driver,

[2015-07-22 01:49] domonation commented on #20
Has anyone else had an issue with the timers? I am currently implementing 4 receivers but when I attempt to use the millis() function it gives me a constant value.

[2015-07-22 15:48] emilburzo opened #176 "How can I use it on attiny84?"
According to #97  there is support for it, but I can't seem to get it to work.

``arduino/libraries/IRremote/irSend.cpp: In member function 'void IRsend::mark(int)':
arduino/libraries/IRremote/IRremoteInt.h:210:30: error: 'TCCR2A' was not declared in this scope
 #define TIMER_ENABLE_PWM    (TCCR2A |= _BV(COM2B1))``

Looking through the code, I can't see any references to *tiny*.

What am I missing

[2015-07-22 15:58] AnalysIR commented on #176
There is no Timer2 on the ATTiny84....so change the internal library definitions to use another Timer  e.g. Timer1.

[2015-07-23 22:54] z3t0 commented on #168
Not sure if this will change anything but try using pin 11 instead of 10

[2015-07-24 01:05] z3t0 commented on #176
try the latest experimental release: https://github.com/shirriff/Arduino-IRremote/tree/experimental

[2015-07-24 01:13] #173 closed

[2015-07-24 01:53] z3t0 commented on #154
Any update? Thanks

[2015-07-24 02:08] crash7 commented on #154
@z3t0 sorry both, didn't have the time to check this yet. I will try to do it tomorrow. Thanks for the reminder

[2015-07-24 04:19] z3t0 commented on #154
No problem, take your time

[2015-07-24 04:24] z3t0 commented on #134
Timers maybe... Not too sure

[2015-07-24 04:24] z3t0 commented on #134
Please re-open if you need this.

[2015-07-24 04:24] #134 closed

[2015-07-24 06:58] emilburzo commented on #176
The code compiles fine now, but I'm not sure what pin should I use?

[2015-07-24 19:47] aalku commented on #168
This is really weird for me. If I change PG = 10 for PG = 11 (pwm pin for green color) the ir decoding... changes. It recognize different codes for the same remote buttons.

[2015-07-24 20:03] z3t0 commented on #168
Can you post the output?

[2015-07-24 20:33] aalku commented on #168
Sure, I put the dump function in the example.

Remote buttons I call 4, 5, 6 with green led on pin 10 and irrecv on pin 7:

	Decoded NEC: FF906F (32 bits)
	Raw (68): -7900 8750 -4450 550 -550 550 -550 550 -550 550 -550 550 -550 550 -550 550 -550 550 -550 550 -1700 500 -1700 500 -1700 500 -1700 550 -1650 500 -1700 550 -1700 500 -1700 500 -1700 550 -550 500 -600 550 -1650 550 -600 500 -550 550 -600

[2015-07-24 20:35] aalku commented on #168
After some tries using pin 11 the arduino got hunged up completely. It didn't even respond to serial port commands.

[2015-07-24 20:36] aalku commented on #168
If it has something to do with the timers I might try software pwm but if it's an electrical problem it would not help.

[2015-07-24 21:55] AnalysIR commented on #168
What model # of IR receiver are you using?
Do you have a link to the data sheet or where it was purchased?

Looking at the signals you posted it 'could' be the receiver.

[2015-07-24 21:59] AnalysIR commented on #168
It could also be that you are pulsing the RGB LEDs and LEDs can emit IR as well. So shielding the IR receiver from the light of the RGB LEDs might help.

[2015-07-24 22:22] AnalysIR commented on #176
try ...you just need to make sure "__AVR_ATtinyX4__" is defined as true or just make your own new ones for __AVR_ATtiny84__

[code]
and use PA6 or physical pin 7 as the tx pin
The Arduino pin 6 is PA6(physical pin 7)

Make sure these definitions are placed before the one for __AVR_ATtinyX4__

[2015-07-24 22:36] z3t0 commented on #176
Updated experimental to include the fix mentioned above.

[2015-07-24 22:37] #139 closed

[2015-07-25 12:01] aalku commented on #168
This receiver. http://es.aliexpress.com/item/10pcs-Lot-Universal-IR-Infrared-Receiver-Sensor-Module-1838-TL1838-VS1838B-38Khz-Diode/32266398399.html
The light from the leds can't reach the receiver. I electrically isolated the water pump from the receiver, or tried to, and now it does not hung up. There are very few decoding errors (less than 10%, maybe less than 5%). I'm currently using hardware

[2015-07-25 12:01] #168 closed

[2015-07-25 18:09] AnalysIR commented on #168
I believe your main issue is this IR receiver. Unfortunately, this VS1838B is the cheapest IR receiver available & also the worst. See our blog post for more details/insight:
http://www.analysir.com/blog/2014/12/08/infrared-receiver-showdown-tsop34438-vs-vs1838b-winner-revealed/

[2015-07-26 00:37] aalku commented on #168
Thank you

[2015-07-26 11:03] emilburzo commented on #176
I've just tried it and it works!

Thank you very much.

[2015-07-26 13:20] AnalysIR commented on #176
Could you clarify, for future reference, what actually worked?

[2015-07-26 17:21] emilburzo commented on #176
I've downloaded the experimental branch (with the latest changes from z3t0 included) and ran my project (which sends some IR commands) on an attiny84 (1MHz, internal oscillator).

Everything worked as expected.

[2015-07-26 18:54] z3t0 commented on #176
Happy it worked for you

[2015-07-26 18:54] #176 closed

[2015-07-27 05:45] z3t0 commented on #174
@Longrange did the fix above do anything?

[2015-07-27 05:52] z3t0 commented on #166
Just to clarify, simply connecting the Ethernet Shield causes the IR to stop working? Does the example sketch work without the Ethernet Shield on the same board?

[2015-07-27 23:19] gaetanwalter opened #178 "Disabling protocols is not working"
When you disable protocols using
#define DECODE_RC5           0

the sketch can't compile because in irRecv:

#ifdef DECODE_RC5
	DBG_PRINTLN("Attempting RC5 decode");
	if (decodeRC5(results))  return true ;
#endif

should be:

#if DECODE_RC5
	DBG_PRINTLN("Attempting RC5 decode");
	if (decodeRC5(results))  return true ;
#endif

And ir_RC5_RC6.cpp, the metchod: IRrecv::getRClevel should be in a :

#

[2015-07-28 02:30] z3t0 commented on #178
Thanks, will take care of this and commit upstream

[2015-07-28 05:45] z3t0 opened #179 "Recommended IR Modules"
@AnalysIR

Hi All,

I am working a new project and am looking for a good pair of SMD IR Receiver and Emitter modules. I want to solder these onto a PCB, which will also contain an AVR chip and RS232 Chip.

Any recommendations for which IR receiver or emitter?

Thanks!

[2015-07-28 12:32] AnalysIR commented on #179
....how long is a piece of string...  :)

it really depends on the application and PCB design/layout/enclosure/orientation/current/voltage..not to mention the application & carrier frequency etc.

What I would do is go to digikey and do a search based on your requirements and then study the data sheet to see that they match requirements.

For general purpose TH parts, I usually default to TSAL6x00

[2015-07-28 22:09] z3t0 commented on #179
I was looking at some new open source projects and stumbled on [this](https://www.crowdsupply.com/longan-lab/irduino). Unfortunately it never reached the goal, however I thought I might try and make one for fun. In terms of carrier frequency I'm just going to have to settle for 38KHz.

In that case I guess I might just use TH parts, which would mean an encasing with the IR receiver being flush wit

[2015-07-28 22:12] z3t0 commented on #179
One of the main differences will be that although my version will allow you to control your computer, the  main usage will be to use it as a universal remote for other appliances.

[2015-07-28 22:59] AnalysIR commented on #179
The TSOP38238 should be fine but may have issues on some difficult signals(protocols). It is classified as legacy by Vishay. TSOP38438 is the more modern equivalent.

The benefit of TH is that you have lots of room to position within the enclosure. With SMD, enclosure & receiver positioning must be well designed & spot on. Range should just depend on the power of the remote. You can also hotglue t

[2015-07-28 23:40] georgerappel commented on #166
I discovered two things, and i'm sorry about it: there was probably something wrong with my port 11 on the Ethernet Shield, when i changed it to 10 it worked with the demo.
Then i uploaded IRrecvDemo to the board with the shield and all the other includes and now it's kinda working.
The code runs and when i press the button on a Remote controller once or twice it shows the button number, but someh

[2015-07-28 23:41] z3t0 commented on #179
Looking forward to the IR boards, do you think they will be open source? Also are they currently in development?

[2015-07-28 23:44] z3t0 commented on #166
Can you share the full sketch, and if possible a diagram of the wiring? Thanks

[2015-07-29 01:45] georgerappel commented on #166
The full sketch is here: http://pastebin.com/GcRs6hWx
Some lines are commented because i was trying to fix the issue, and my code may be in portuguese some times... sorry about that.

The diagram is complicated. I have:
  - 1 LDR sensor
  - 1 RF emitter
  - 1 Relay module
  - Ethernet Shield
  - Trying to use an IR receiver.

[2015-07-29 02:35] z3t0 commented on #166
@georgerappel Thanks for the sketch, I will take a look and get back to you

No problem.

The diagram is complicated.

[2015-07-29 10:47] AnalysIR commented on #179
Development is completed.

Some (but not all) will be open.

[2015-07-29 17:14] domonation commented on #20
Still having issues with this timer business. Does anyone have an idea?
Here is my code. The problem is that when I initialize my receivers I cannot use the ultrasonic sensor. It just idles after printing out the first line. Any help would be appreciated.
<script src="https://gist.github.com/domonation/aa4d5d9135c809662954.js"></script>

[2015-07-29 18:00] AnalysIR commented on #20
Did you consider, just using OR gates to feed all of the 4 receivers into one pin?

[2015-07-29 18:23] z3t0 commented on #20
@domonation the gist does not exist

[2015-07-29 18:25] z3t0 commented on #20
@domonation Could you please create a new issue to keep things easily maintainable. Thank you.

[2015-07-29 21:34] domonation commented on #20
@AnalysIR I considered using OR gates but I need to be able to distinguish between unique emitter IDs.

https://gist.githubusercontent.com/domonation/aa4d5d9135c809662954/raw/88b841a8f2979c616f39408e1eb09fbad3fb74c9/irbeaconreceiver

[2015-07-29 21:36] domonation opened #180 "IR Multiple Receiver Issues with Timer (@khair-eddine fork)"
Has anyone else had an issue with the timers? I am currently implementing 4 receivers but when I attempt to use the millis() function it gives me a constant value. I am using an Arduino Mega 2560

Sketch:
[code]

[2015-07-29 21:38] domonation commented on #20
I started a new issue @z3t0
https://github.com/shirriff/Arduino-IRremote/issues/180

[2015-07-30 05:45] z3t0 commented on #180
@domonation Can you please post the full sketch into a gist and share it here. Also, are you doing anything else with the Arduino while trying to get the 4 receivers to work? I mean has the problem been isolated to the library/receiver or are there additional shields which are also attached? Thanks

[2015-07-30 05:46] z3t0 commented on #20
@domonation Sorry just saw the sketch. Will read and report back on the other issue

[2015-07-30 05:49] z3t0 commented on #180
@domonation Do you know which timer is being used for the different receivers? Which pins? (If it is realistic could you make a rough schematic or post a photo?)

[2015-07-30 06:11] z3t0 opened #181 "Travis CI Build Failing"
I am new to using Travis CI and have not yet figured out all the different options.
@ivankravets has been kind enough to take care of all the setup and I have finally managed to get Travis to work... only now it seems to be reporting very odd errors.

If anyone knows how to use it please take a look at https://travis-ci.org/shirriff/Arduino-IRremote
I will definitely dig in and solve it, although

[2015-07-30 09:37] ivankravets commented on #181
@z3t0 Sorry, this is PlatformIO bug. I'm working on it and will release new version today. I'll report here.

[2015-07-30 16:28] ivankravets commented on #181
@PlatformIO 2.2.2 is out! However, the one example still doesn't work. See https://travis-ci.org/z3t0/Arduino-IRremote/builds/73409409

[code]

Need to fix this line https://github.com/z3t0/Arduino-IRremote/blob/master/examples/IRsendDemo/IRsendDemo.ino#L11 to
[code]

[2015-07-31 00:15] z3t0 commented on #180
Also I'm assuming it works fine when not using the IR library?

[2015-07-31 00:16] z3t0 commented on #181
Thanks, working great now. Do you know if there's any way to reject commits that fail.

[2015-07-31 00:16] #181 closed

[2015-07-31 00:18] z3t0 commented on #179
Cool. Can't wait to see the result.

Thanks for the replies. I'll close the issue and report my experiences here once I get something running.

[2015-07-31 00:18] #179 closed

[2015-07-31 12:03] ivankravets commented on #181
I hope this should help you http://stackoverflow.com/questions/448919/how-can-i-remove-a-commit-on-github

However, I don't recommend to use it :blush:

[2015-07-31 15:32] domonation commented on #180
I am using an Arduino Mega 2560 with 4 receivers while simultaneously emitting an IR signal. What I have done however is used an Attiny 85 to handle the emitting portion. What I am doing is essentially using the 4 receivers covering different quadrants in order to help the car navigate towards an IR beacon. I am also incorporating an ultrasonic sensor. On the mega the pins were connected to pins 4

[2015-08-01 12:49] alexbloggt commented on #128
Hi,
i just tried to run multiple IR transmitter using the library of @khair-eddine . However when I try to compile using code like that one of @khair-eddine provided here (https://github.com/z3t0/Arduino-IRremote/issues/128#issuecomment-93577771) I get errors like ```'IRsend1' does not name a type```.
What could be the issue?
I am using Arduino IDE 1.6.5 with Arduino Leonardo (for using normal IRr

[2015-08-01 23:04] khair-eddine commented on #128
hii @alexbloggt try using ide 1.0.5

[2015-08-02 08:52] alexbloggt commented on #128
Hey, error above was my fault - used the wrong library, sorry!
However now I am getting the same error as @ipekbocegi:
```undefined reference to `IRsend1::sendNEC(unsigned long, int)'```
Also tried IDE 1.0.5 but it is the same error here.
Used this (https://github.com/khair-eddine/Arduino-IRremote/tree/khair-eddine-patch-1) version of the library.
Thanks for helping!

[2015-08-03 07:01] ernawatie commented on #53
i used arduion IDE and pop up this error.. how i need to solve this problem?
C:\Program Files (x86)\Arduino\libraries\IRremote\irISR.cpp:1:27: fatal error: avr/interrupt.h: No such file or directory
 #include <avr/interrupt.h>
                           ^
compilation terminated.
Multiple libraries were found for "IRremote.h"
 Used: C:\Program Files (x86)\Arduino\libraries\IRremote
 Not used: C:\Pr

[2015-08-03 21:58] z3t0 commented on #53
Delete the folder C:\Program Files (x86)\Arduino\libraries\RobotIRremote It is a conflicting library

[2015-08-04 05:12] z3t0 commented on #128
@alexbloggt Please provide your full sketch, create a new issue and refer to this issue in the new issue.

[2015-08-04 05:13] z3t0 commented on #180
@domonation Sorry for the delay, will get back to you ASAP (have been out for a few days_

[2015-08-04 12:11] alexbloggt opened #184 "Problems using multiple IR Transmitter (@khair-eddine fork)"
Hello,
when trying to use multiple IR Transmitter (as provided by @khair-eddine's fork, see https://github.com/z3t0/Arduino-IRremote/issues/128), I'm getting some errors from Arduino IDE when trying to compile.
Here is the sketch I am using:
[code]
And this is the error:
[code]
I am using this library (https://github.com/khair-eddine/Arduino-IRremote/tree/khair-eddine-patch-1) with the "ifdef"s re

[2015-08-04 21:38] z3t0 commented on #184
@alexbloggt Can you try compiling the same sketch for the Arduino Uno? Is the problem still present?

[2015-08-05 07:58] alexbloggt commented on #184
Hi @z3t0
thanks for helping!
Just gave it a try using Arduino Uno - same here.

[2015-08-05 19:33] pcoughlin commented on #184
One of the potential problems with using this Library seems to be the need to modify the #defines in the IRremoteInt.h.

Did @alexbloggt make any modifications?  Was the Library re-compiled?

[2015-08-05 22:49] z3t0 commented on #184
@alexbloggt Not too sure why it isn't working... Try using the examples see if they work...

[2015-08-06 08:15] alexbloggt commented on #184
Hi,
Thank you all for support!
@pcoughlin : No, I did not change anything in IRremoteInt.h yet, just in IRremote.cpp + IRremote.h to be able to use NEC-Codes.
But I think I have found the problem:
In IRremote.cpp it says
[code]
So the endif of ```SEND_AIWA_RC_T501``` is after all the additions with IRsend1 and IRsend2. If I put the endif right after the AIWA-Block the sketch compiles - at least fo

[2015-08-06 21:16] z3t0 commented on #184
@alexbloggt Thanks for all the details as it makes helping a lot easier. Please fork khair-eddines fork and add your changes there so we can see what changes you made, that would be the easiest way to figure out what the problem is. Thanks!

[2015-08-06 21:22] z3t0 commented on #184
@pcoughlin

As it stands this is the most robust way to support several different platforms

[2015-08-07 15:22] alexbloggt commented on #184
Alright @z3t0 .
Just found a working solution for using multiple IR transmitter on 32u4 based Arduinos like Leonardo. Gonna check if it works reliable the next days and make a fork then.

[2015-08-07 15:47] alexbloggt commented on #174
It is indeed Pin 13 on Micro, as it says in IR_USE_TIMER4_HS:
[code]
Don´t know why comment says `// tx = pin 10` here - should rather be 13 in my opinion.
However by using a different timer (Timer1 or Timer3) pins #9 (using T1) or #5 (using T3 with replacing `error "Please add OC3A pin number here\n"` by `#define TIMER_PWM_PIN        5` in Timer3 section in IRremoteInt.h) can be used as well.

[2015-08-07 19:47] pcoughlin commented on #184
What about using the method that other Libraries use like this one:
https://www.arduino.cc/en/Hacking/LibraryTutorial

It puts the _pin (in the IR library case, it would be iparam and maybe others) in the Class so that it is unique to each instance.

Later in the tutorial it shows using multiple instances of the library like this:
Morse morse(13);
Morse morse2(12);

Instead of like this:
IRsend ir

[2015-08-07 23:14] franhotmail opened #185 "Support for Mitsubishi AC"
Hi Rafi,
my name is Francisco and I´m working in create my domotic home using Arduino and old electronic devices such routers, telephones, ...
I don´t like the inalambric tecnology as wifi, bluetooth, RF,.., I prefer to use cable or IR, (health issues relating to electromagnetic RF ) then I would like to controle my air conditioner using IR, that it is the reason because now I´m writing this e-mai

[2015-08-08 01:51] ma-laforge commented on #89
You could simply replace the call from delayMicroseconds() with a call to wait_usec(usec_t wTime), as defined in:
https://github.com/ma-laforge/ArduinoCIR/blob/master/libraries/arduino_tools/arduino_ext.h

[2015-08-08 12:07] alexbloggt commented on #184
See fix for IRremote.cpp and support for multiple transmitters on 32u4 devices here: https://github.com/alexbloggt/Arduino-IRremote/tree/alexbloggt-patch-1

[2015-08-08 14:31] pcoughlin commented on #184
My question, as stated above, is that you RE-declare the IRsend as IRsend1 and IRsend2.

Why not just put the variables in the IRsend class as PRIVATE and then you can declare them like this:
[code]

Also, if you make the "pin" a variable that is assigned at the time of creation, then it could look like this:
[code]

[2015-08-08 20:38] z3t0 commented on #184
That's definitely a much better way to handle things and is how I plan on doing it eventually.

That's the reason I did not merge the PR regarding this. The code is horrible for maintenance and not very well written. I will be gearing towards an approach very similar to what you suggested

[2015-08-10 03:10] #138 closed

[2015-08-10 03:12] z3t0 commented on #136
This is a great catch! I will implement this soon. I am currently spending some time learning C/C++ at a more professional level and plan on rewriting this library in a more object oriented style.

[2015-08-10 03:14] z3t0 commented on #142
@e-dredon Happy that something worked out at the end. I am closing this issue as there does not seem to be any need to leave it open, feel free to comment or re-open if I am mistaken.

Also, all the compilation errors should be fixed, try the master branch.

[2015-08-10 03:14] #142 closed

[2015-08-10 03:16] z3t0 commented on #185
@franhotmail Thanks for your detailed question. Sorry for the late reply, I do not have a Mitsubishi AC to test with but with some trial and error I am sure we will be able to get to the end of this!

First please take a look at this: http://www.analysir.com/blog/2015/01/06/reverse-engineering-mitsubishi-ac-infrared-protocol/

[2015-08-10 03:17] z3t0 commented on #184
@alexbloggt I am assuming this issue has been resolved and will be closing it, please re-open and/or comment if you still need help with this particular issue.

[2015-08-10 03:17] #184 closed

[2015-08-10 03:19] z3t0 commented on #180
@domonation Sorry for not being much help... I really don't know what is going on and also do not know too much about the Multiple Receiver Fork as it isn't very robust or production ready... I am working on a multiple receiver implementation of my own and hopefully that will work for you, in the meantime you could converse with @khair-eddine as he may know more about this particular topic.

[2015-08-10 03:19] z3t0 commented on #180
@domonation Take a look at the patch in #184 as it may prove useful

[2015-08-10 03:21] z3t0 commented on #178
@gaetanwalter Do you know if this is a problem for other protocols as well? Thanks

[2015-08-10 03:23] z3t0 commented on #174
@alexbloggt I am not certain but I am assuming it is labelled as pin 10 because the Teensy 2.0 might break it out on that.

Closing this issue as the problem @Longrange was facing either no longer seems to be apparent or relevant

@alexbloggt Feel free to continue the conversation here or another issue.

[2015-08-10 03:23] #174 closed

[2015-08-10 03:24] z3t0 commented on #152
@csBlueChip Has this been implemented in your rewrite?

[2015-08-10 03:26] z3t0 commented on #149
@brahbassim Check the ir_template.cpp

[2015-08-10 03:26] #149 closed

[2015-08-10 03:26] z3t0 commented on #149
Feel free to re-open if you need particular help

[2015-08-10 03:48] z3t0 opened #186 "TODO: Add Decoder Setup"
#27

This will be updated with more information once I get started on working on it.

[2015-08-10 03:59] z3t0 opened #187 "Enabling Larger Raw Code Lengths"
Refer to #51 for more information.

The following is quoted from @Analysir:

To be able to handle long AC signals, setting RAWBUF to 256 will still miss most of them.
(I believe RAWBUF is still limited to a max length of 256)

However, it would be useful if users could at least (dynamically) set RAWBUF length from their own code without having to dig into & modify the library files.

As a workarou

[2015-08-10 04:10] z3t0 opened #188 "999 Stars"
Just wanted to make a quick issue to celebrate the fact that we have 999 stars!

All thanks go to the contributors!

@shirriff @Informatic @fmeschia @PaulStoffregen @crash7 @zenwheel @Neco777 @Lauszus @csBlueChip @joshuajnoble @sstefanov @levsa

AND EVERYONE ELSE I MISSED... feel free to comment and let me know.

[2015-08-10 06:19] gaetanwalter commented on #178
Yeah, all ifdef schould be if

DECODE_XXX is defined (as 0 or 1) so ifdef will always return true.

[2015-08-10 06:22] z3t0 commented on #178
@gaetanwalter Great, will fix this tomorrow.

[2015-08-10 19:02] baget opened #190 "IR RAW Code that works with IRLib but NOT with IRRemote"
Hi

with the following IR RAW Data I'm able to control my A/C Using IRLib but not IRRemote
On Arduino UNO

[code]

[2015-08-10 19:51] z3t0 commented on #190
@baget can you provide some more information regarding what setup you are using. Also, if that is not the full sketch please share the full sketch, also make sure you are using the latest code from the master branch as it is now stable and has newer features.

As far as I can see, the implementation of sendRaw is identical in both libraries so this may be a bug with this library or something else.

[2015-08-10 19:56] z3t0 commented on #190
@baget I have just committed a change to the master branch which may have solved the problem, please check by downloading the latest code from the master branch.

[2015-08-10 20:04] z3t0 commented on #190
My bad, the latest commit broke things. Will fix and recommit

[2015-08-10 20:13] z3t0 commented on #190
I just recommitted waiting on Travis CI build, please test changes.

[2015-08-10 20:20] z3t0 commented on #190
@baget The build was a success, please try the latest changes

[2015-08-10 20:34] z3t0 commented on #178
@gaetanwalter Committed. 5c920bd31dead97ce9acfc6429b9c3e0162faf47

[2015-08-10 20:34] #178 closed

[2015-08-10 20:41] Semphora commented on #108
the "Check here for tutorials and more information." still seems to link to the github page and is a dead end.

[2015-08-10 20:42] z3t0 commented on #108
@Semphora great timing, I just committed the update 2 seconds before you commented lol

[2015-08-10 20:43] z3t0 commented on #108
Update: I have not gotten much done in this (besides an api reference) since there are major rewrites being worked upon and many new additions, PRs etc.

[2015-08-10 20:45] Semphora commented on #108
:) that api reference seems to be exactly what I was looking for.

[2015-08-10 20:48] Semphora commented on #108
but wouldn't it make more sense for the "Check here for tutorials and more information." link to link to the wiki?

[2015-08-10 23:57] csBlueChip commented on #152
Yes :)
Feel free to close

--
Sent from my mobile; please excuse my brevity.
On 10 Aug 2015 04:24, "Rafi Khan" <notifications@github.com> wrote:

[2015-08-11 05:06] z3t0 commented on #108
@Semphora

You are right.. but I feel reluctant doing so until the wiki itself is up to date. So the best solution would probably be to remove the link for now. Thoughts?

[2015-08-11 05:06] z3t0 commented on #108
I'll put it up on the wiki tomorrow

[2015-08-11 05:07] z3t0 commented on #152
Feel free to close

Cool, thanks for the contribution!

[2015-08-11 05:07] #152 closed

[2015-08-11 05:10] #188 closed

[2015-08-11 05:24] renxinhe opened #192 "Compilation error in irISR.cpp"
I used this library 3 days ago, and there was no problem. Everything worked fine. But today I suddenly got this error after attempting to compile.

EDIT: Full sketch -- http://pastebin.com/tj94dXKc

[2015-08-11 05:47] z3t0 commented on #192
@renxinhe Can you please make sure you are using the latest code from the master branch? Because that file was not changed in the last 10 days.

Can you provide more information? Please provide your full sketch (edit your first post) and also what board.

[2015-08-11 06:10] renxinhe commented on #192
I've added the full sketch above. I'm using a MSP430G2553 board on a Macbook running OS X Yosemite. I just downloaded the zip from master, so it should be the most updated.

The same error occurs on an online testing demo that used to work on Saturday (8/8) night:
[code]

`/Users/Jim/Documents/Energia/libraries/IRremote/irISR.cpp:18:5: error: expected constructor, destructor, or type conversion be

[2015-08-11 06:19] z3t0 commented on #192
@renxinhe Please try the latest code from master now, I just committed a minor change where there was a leftover windows ^M. Should work now

[2015-08-11 06:22] z3t0 commented on #192
@renxinhe Do you have the library code that previously worked? If not can you remember when you got that code and from which source? Releases/experimental/master

[2015-08-11 06:28] renxinhe commented on #192
I tried the latest commit by downloading the zip from repo homepage, and replacing the library files in the Energia library folder, and unfortunately it doesn't fix the issue. I didn't change any code from the version which that worked. Both the pastebin code and the quoted code snippet in my last comment compiled and ran successfully a few days ago.

One of my friend just installed Energia and th

[2015-08-11 07:40] jenniferrr commented on #91
hi i removed the RobotIRremote library but i didn't install IRRemote from GITHub and i had this:
compiling sketch...
java.lang.NullPointerException
	at processing.app.debug.Compiler.recursiveCompileFilesInFolder(Compiler.java:682)
	at processing.app.debug.Compiler.compileLibrary(Compiler.java:661)
	at processing.app.debug.Compiler.compileLibraries(Compiler.java:649)
	at processing.app.debug.Compil

[2015-08-11 18:33] z3t0 commented on #192
@renxinhe No problem, happy it worked for you!

[2015-08-11 18:33] #192 closed

[2015-08-11 18:38] z3t0 commented on #91
@jenniferrr I don't think that is a problem with the library, please re-install the Arduino IDE

[2015-08-12 04:05] z3t0 commented on #108
@Semphora I just realized that I had deleted the api reference when I reinstalled my system (it wasn't committed to the repo since it was unpolished at the time). I will rewrite it soon but in the meantime you can take a look at the source code, its very well-commented and you can ask me if you have any questions. So sorry for the inconvenience

[2015-08-12 13:43] renno-bih opened #194 "Help supporting YORK AC remote"
Hello all,

I'm glad to see new version of this library. :)

I know that it is difficult to add fully functional AC protocol but I just need to save current state of my AC so I can turn it on, off and make some presets. But strange thing is that this remote produce two codes for one button press. IRrecvDump detects two 32bit NEC codes (74 length) for each button press.

Here are some examples:

Tu

[2015-08-12 13:58] AnalysIR commented on #194
Use the sketch in our blog post and you should get a single signal capture, in the same format..
http://www.analysir.com/blog/2014/03/19/air-conditioners-problems-recording-long-infrared-remote-control-signals-arduino/

AC signals can be much longer and more complex than standard TV IR signals.

[2015-08-12 18:41] Semphora commented on #108
@z3t0 thanks. I'll do that.

[2015-08-12 19:07] crash7 commented on #188
good job guys! :+1:

[2015-08-12 19:40] baget opened #195 "The IRsendDemo.ino does not demo IRsend"
The IRSend Demo  does not show example on how to send IR
it show code that is not related to IRsend.
https://github.com/z3t0/Arduino-IRremote/blob/master/examples/IRsendDemo/IRsendDemo.ino

[code]

[2015-08-12 19:50] baget commented on #190
@z3t0
my setup is simple, Arduino Uno and IR Led.
I'm trying to control my A/C.

I recorded signals using AnalysIR and IR Toy and I have simple loop that send "ON" Command wait for 2sec then send "Off" command.

I took your latest code and it still don't not work... not sure why... I see the IR LED is transmitting, but my AC does "Accept" the command.
I built a library for my AC that works using I

[2015-08-12 20:02] z3t0 commented on #195
Will fix right away, must have changed during one of my commits..

[2015-08-12 20:17] z3t0 commented on #195
The above commit should fix the problem

[2015-08-12 20:17] #195 closed

[2015-08-12 20:20] z3t0 commented on #190
@baget Thanks for the information, I will look into it and see if I can figure out what the problem is

[2015-08-12 20:28] z3t0 commented on #190
It may have something to do with the way mark and space are implemented. I think I will hold off on this as I plan on making this library more object oriented and so will polish things then. Once I am done changing how some things work it should be easy to get your library to work with both IR libraries.

[2015-08-12 22:09] AnalysIR commented on #190
The gap between the 3 bursts is approc 21,000 uSecs. However, IRremote can only handle a max of 16383 uSecs for a mark or space. If you enter 21,000 into IRremote you will get some weird value being used for the space. This is related to the use of delayMicroseconds in IRremote, which is a known limitation in the base Arduino code.

This is likely to be your issue. The workaround would be to treat

[2015-08-12 22:11] AnalysIR commented on #190
Also, make use of the signal clean feature within AnalysIR & you should get better perfrmance/range.

[2015-08-13 02:01] z3t0 commented on #190
This seems to be a common problem that makes solving simple problems significantly more involved, I will take a look at figuring out how to remedy this within the library

@baget For now the workaround is your only option, but I will solve this problem very soon :D

[2015-08-13 02:22] adolfosantana commented on #53
I have the Arduino IDE ver. 1.6.5 but I have a new problem in trying to compile my program. Can you help me on this? Thanks, This is the error messages:

C:\Program Files (x86)\Arduino\libraries\RobotIRremote\src\IRremote.cpp:1347:3: warning: this decimal constant is unsigned only in ISO C90 [enabled by default]
   long hash = FNV_BASIS_32;
   ^
C:\Program Files (x86)\Arduino\libraries\RobotIRremo

[2015-08-13 02:24] z3t0 commented on #53
Please read my comment above. It will solve your problem

[2015-08-13 02:28] adolfosantana commented on #53
Thanks for your quick response, but I don't know which comment are you refering to?

Adolfo Santana
Date: Wed, 12 Aug 2015 19:24:08 -0700
From: notifications@github.com
To: Arduino-IRremote@noreply.github.com
CC: adolfo_santana@hotmail.com
Subject: Re: [Arduino-IRremote] Error regarding Arduino 1.5.5 r2 (#53)

Please read my comment above. It will solve your problem

—
Reply to this email directly

[2015-08-13 02:29] z3t0 commented on #53
@adolfosantana Haha sorry... wanted to try and be all mystical like a bunch of other people on GitHub :smile:

Anyways... Delete the folder C:\Program Files (x86)\Arduino\libraries\RobotIRremote\ It conflicts with this library.

[2015-08-13 14:28] raffaeler commented on #185
I suspect the issue is related to RAWBUF being limited to <=255
Using the DumpV2 with a mitsubishi, the overflow message is clear.
Hope that limitation will soon be resolved.

[2015-08-13 14:54] pcoughlin commented on #185
If you compare the two outputs and look at them as being LONG (>=m1150) or SHORT (<=500) pulses then they compare the same.  Also, the "error twitch" seems to be relatively cumulative, as in one is "m350 m450" and the other is "m400 m400".

I agree with @raffaeler that the RAWBUF needs to be increased to "see" the end of the signal so we will see some difference. As you can see, both outputs (ON a

[2015-08-13 20:10] z3t0 commented on #190
@baget Can you post the irrecvDumpV2 output of both the original remote and irLib? I am trying to replicate the environment on my side so I can confirm i have solved the problem.

Note: you will need two different boards to record the output of IRLib (One sending one receiving)

[2015-08-13 20:43] z3t0 commented on #190
@baget I think i have it working on my side, I dont want to commit until we can confirm it. I cannot really check because I dont have that AC and the decode on IRremote is still unchanged, neither do i have Analysir. So waiting on your reply

[2015-08-13 21:43] Semphora commented on #108
@z3t0 and btw.: Thanks for doing this! I really appreciate you writing and supporting this library!

[2015-08-13 22:56] z3t0 commented on #108
@Semphora No problem! Also @shirriff was the one to actually write the library and alot of other people have been contributing too, basically all I have been doing is trying to manage things like pull requests and issues.

[2015-08-13 22:57] z3t0 commented on #108
Will definitely have the API up tomorrow :smile:

[2015-08-13 22:58] z3t0 commented on #194
I believe I have fixed the send delay, haven't tried anything for receiving as I have no way to test it. However I will still see if I can do something about it.

https://github.com/z3t0/Arduino-IRremote/commit/11cb3fe442b2084600ab4bf278d5c727573aced3

[2015-08-13 22:59] z3t0 commented on #190
@baget I have possibly fixed the delay problem as of https://github.com/z3t0/Arduino-IRremote/commit/11cb3fe442b2084600ab4bf278d5c727573aced3 please try the latest code.

[2015-08-13 23:02] z3t0 commented on #185
I plan on working on increasing the RAWBUF but the main problem is that I dont have anything that I can test with since all my remotes use relatively "short" protocols, any ideas?

[2015-08-13 23:04] z3t0 commented on #185
#187 Should be useful

[2015-08-13 23:53] adolfosantana commented on #53
Rafi Khan,I'm trying to run this code to an Arduino car that I bought. See here: http://www.amazon.com/Next-Bluetooth-Controlled-Arduino-Official/dp/B00ORMPC3C/ref=sr_1_6?ie=UTF8&qid=1439509717&sr=8-6&keywords=arduino+car
I did what you told me to do, but I have some other error messages and I don't know what to do next because all the compiling errors are library related.
Here are the code and th

[2015-08-14 03:31] z3t0 commented on #53
You seem to have more than one Servo library. What is inside your Documents/Arduino/ Folder and also what is inside your C:\Program Files\Arduino\libraries folder

[2015-08-14 04:01] z3t0 commented on #108
@Semphora What kind of things do you think I should put in the API? there isn't much point documenting the source code itself... I was thinking the IRrecv and IRsend classes since that would help other people add protocols and such.

[2015-08-14 08:29] raffaeler commented on #185
My idea is the following: drop me the exact code you need to record the sequences from one or more remote controls.
I can send you the sequence so that you can test and adjust the code.

Side note:
I am already using the dumpv2 to see the codes. And I have also modified the code to accept larger sequences but the dump to the serial port is still wrong since the recognized code printed on the seria

[2015-08-14 09:17] renno-bih commented on #194
@AnalysIR
I tried your sketch and here is what I get for one button press:

[code]

@z3t0
I'm not having problem with sending at the moment. I first need to get code. Does this code above shows that this AC remote sends 279 long code that this library cannot handle? What are solutions?

[2015-08-14 10:06] renno-bih commented on #194
Btw, looks like there is long delay in middle of transmitted code. So I increased _GAP parameter to 26000 and now it detects only one Raw(101) signal. By increasing RAWBUF to 240 it detects Raw(140) signal.

Long gap in middle of transmitted code tricked library. Not it detects only one code. I'll try to retransmit it tomorrow...

[2015-08-14 12:05] baget commented on #190
Latest Code solve the issue!!! Thanks!!!

[2015-08-14 12:05] #190 closed

[2015-08-14 12:08] AnalysIR commented on #194
The hex value for your signal is Row: 1
Hex: 243969829000200044872D3032001B6C8F
Binary:
00100100 00111001 01101001 10000010
10010000 00000000 00100000 00000000
01000100 10000111 00101101 00110000
00110010 00000000 00011011 01101100
10001111

It is 134 bits of data spread over 4 bursts (3 long gaps/spaces in between)

You should be able to send this with IRLib. However, you will need to apply the w

[2015-08-14 12:39] renno-bih commented on #194
Thank you AnalysIR...

My goal is to send codes over WiFi and message that I'm sending needs to be as small as possible. Right now I send four parameters... Type of code, length, value of code (encoded) and bits.
It works pretty fast as I don't need to send array of raw data.

It would be great if someone can help me creating encoding and decoding function for this remote. Currently IRremote libra

[2015-08-14 12:57] AnalysIR commented on #194
Try our blog posts here:
http://www.analysir.com/blog/tag/air-conditioner/

you are bound to find a few examples linked to github (with code) that do this for other protocols, which you can use as a starting point.

However, you will have to figure part of  it out for yourself - using above examples & IRremote as a basis.
 .

[2015-08-14 19:23] z3t0 commented on #190
@baget Happy it worked!

[2015-08-14 19:36] z3t0 commented on #185
@raffaeler Do not worry about it, as of #190 I am able to send larger codes from the Arduino, so I can use that to test and figure out how to fix the RAWBUF.

Please share this if possible. Also, just to be clear I have not yet written the code necessary to decode larger signals, I was hypothesizing that IF i did manage to fix it then I would have no way to test it as I do not have any AC Remotes

[2015-08-14 19:38] z3t0 commented on #194
The long gaps now work when sending, it will not be in a release yet as I still need to do some fine tuning, https://github.com/z3t0/Arduino-IRremote/commit/11cb3fe442b2084600ab4bf278d5c727573aced3#commitcomment-12712230

[2015-08-14 19:43] z3t0 opened #196 "TODO: Fine tune custom delay function"
https://github.com/z3t0/Arduino-IRremote/commit/11cb3fe442b2084600ab4bf278d5c727573aced3#commitcomment-12712230

[2015-08-14 20:12] raffaeler commented on #185
You probably already know the changes in IRremoteInt.h:
#define RAWBUF  400
struct {
//...
uint16_t      rawlen;
//...
}
irparams_t;

But the the decode_results (Value field) does not hold the longer decode code. Therefore, for example, temperature up and down are decoded with the same value.
I had no time to dig further. But let me know if I can help you in any way.
BTW Tomorrow I should be able

[2015-08-14 20:14] KyKyIIIKuH opened #197 "AIWA RC T501"
Hello.
I would like to know how you get "POWER 0x7F80"? I'm trying to get code of power button "AIWA RC T501" and getting this:
"
Encoding  : NEC
Code      : 76044FC0 (32 bits)
Timing[88]:
     -26716
     +9050, -4400     + 650, - 450     + 550, -1700     + 650, -1600
     + 600, -1600     + 550, - 600     + 650, -1550     + 550, -1700
     + 650, - 500     + 500, - 600     + 650, - 450     + 650

[2015-08-14 21:39] Semphora commented on #108
@z3t0 seems like a plan :)

[2015-08-15 02:08] z3t0 commented on #108
@Semphora I have started on the documentation, please check https://github.com/z3t0/Arduino-IRremote/wiki/api

I am not sure if its good/bad so any feedback is appreciated.

[2015-08-15 05:56] z3t0 commented on #197
I do not know the specifics of that protocol, but will do some research and get back to you tomorrow.
Just to be clear, you already have the remote and want to figure out how you can replicate the power command?

[2015-08-15 07:46] raffaeler commented on #185
The following is just one key from the first Daikin remote control (I removed the timings).
If you are interested pls let me know.

Encoding  : UNKNOWN
Code      : EED01DBB (32 bits)
unsigned int  rawData[13] = {16681, 16,2, 14,3, 14,3, 14,3, 14,3, 13,0};  // UNKNOWN EED01DBB

Encoding  : SANYO
Code      : FFFFFFFF (0 bits)
unsigned int  rawData[133] = {494, 73,30, 14,21, 13,4, 13,4, 13,4, 13,22,

[2015-08-15 08:02] KyKyIIIKuH commented on #197
Yeah, you're right. I just want to get same result as yours.

[2015-08-15 08:30] Semphora commented on #108
@z3t0 the link gets me a " create new page" :(

[2015-08-15 19:24] z3t0 commented on #108
@Semphora Sorry about that I forgot that I renamed the page.
https://github.com/z3t0/Arduino-IRremote/wiki/API-Reference

[2015-08-15 19:27] z3t0 commented on #185
Very interesting, this may take me a while to figure out but I will get to the bottom of it

[2015-08-15 20:05] z3t0 commented on #190
@baget Could you do me a favor and retest this with the latest code, I just merged a PR that improves the delay and would appreciate if you could confirm that this still works for you

[2015-08-15 23:04] pcoughlin commented on #196
This can be closed.
fixed in Pull #198

[2015-08-15 23:40] pcoughlin commented on #139
@AnalysIR when you are discussing collaboration on IRlib, is this the one:
https://github.com/cyborg5/IRLib

Thanks.

[2015-08-16 00:43] z3t0 commented on #196
Merged #198

[2015-08-16 00:43] #196 closed

[2015-08-16 00:50] z3t0 commented on #139
@pcoughlin Yes that is the one. Now that we have this library fairly stable I will be contacting @cyborg5 about merging efforts and working together.

[2015-08-16 01:05] z3t0 opened #199 "Discussion: Open Source Alternative to Analysir"
@zenwheel @DaAwesomeP @sEpt0r @joshuajnoble @sstefanov @levsa @pcoughlin @csBlueChip @crash7 @mariocarta @cyborg5
## Open Source Alternative to Analysir

NOTE: This initial post will continue to be updated as I further iron out my ideas and gather other ideas from everyone else.

First of all let me just make it clear that I do not mean to offend @Analysir as they work on an amazing project which,

[2015-08-16 01:11] z3t0 commented on #199
### Update

I have gone ahead and created a repository at https://github.com/z3t0/OpenIR

[2015-08-16 01:25] z3t0 commented on #199
### Thoughts:
- Qt seems like a good idea for an open source project, especially when the visual aspects do not need to be "hand-coded", this also means going to C++ which would fit in with the fact that C++ is used in this library

[2015-08-16 01:56] z3t0 commented on #199
If anyone has purchased Analysir (I personally do not have a copy) then I would be very interested if they were to share the features of the software so that I can work on creating similar support on OpenIR.

[2015-08-16 01:58] z3t0 commented on #199
###Update:
I have updated the [README](https://github.com/z3t0/OpenIR) with some more information

[2015-08-16 02:05] z3t0 opened #200 "Experimental Rewrite"
I am going to be spending some time delving through the source code and essentially rewriting it with support for [OpenIR](Github.com/z3t0/OpenIr). The main effects would be some medium level changes in the effect of refactoring how some things work and adding an interface for OpenIR. This Interface includes being able to receive and send IR data (from the Arduino) by using OpenIR.

[2015-08-16 02:07] z3t0 commented on #199
### Update:
I have realized that this project is a great opportunity for an excuse for me to spend some time delving into the source code of this library and making some changes as to how things work and such, check #200 and the link to the new repository can be found here: https://github.com/z3t0/SmartIRLib.git

[2015-08-16 03:30] jassing commented on #199
AnalysIR isn't that expensive, especially when compared to the time it
saves you or when compared to other kit tools.
I believe you can get a demo version...
I use it to decode IR signals so I can duplicate them, including frequency
of the signal.
It has two channels, so you can decode from two different remotes at the
same time & easily compare.
It's nice as you can send signals just as easily to

[2015-08-16 03:59] DaAwesomeP commented on #199
So what exactly is the purpose of the software (I'm just wondering)? From the name it seems that it would give you "an oscilloscope for IR commands" as I would word it.

Is it a method to control things on your computer with IR and then sending those commands regularly (with a service) to control other things? If so, then there's LIRC with that. It's compatible already with everything that it shou

[2015-08-16 04:00] z3t0 commented on #199
Firstly I would likely to thank you immensely for commenting.

@jessing

saves you or when compared to other kit tools.

That is a completely valid point, but I feel that there are other reasons for an open source alternative including cross platform support and of course being open source :smile:.

it would be easy to achieve the same level of AnalysIR.  It's really a well
done, top notch program

[2015-08-16 04:07] z3t0 commented on #199
I guess it really does come down to that. Ideally it is a Decoder and Analyzer for infrared protocols. The receiver being an arduino or similar. This becomes extremely useful when using this library and is usually more informative than an oscilliscope in general.

Not really, as you said above, it is more like an oscilloscope. So it would have features such as decoding incoming signals from the re

[2015-08-16 04:11] z3t0 commented on #199
Just thought of something.

In being open source, it can easily be magnitudes of times worse than Analysir... but has the potential to be so much better.

[2015-08-16 04:28] DaAwesomeP commented on #199
@z3t0 if every open source project started with that in mind, then there would be no open source projects. The gain is that if it fails, then no money is lost, and you wouldn't still have to pay the people that helped you with it if you give out only one copy. Plus, you get free support and help on your project.

Most things turn out this way.

[2015-08-16 09:09] bengtmartensson commented on #199
Hi Guys,

please have a look at my work, [IrScrutinizer](http://www.harctoolbox.org/IrScrutinizer.html), sources at https://github.com/bengtmartensson/harctoolboxbundle. It addresses most of the issues in the "thread". I contrast to AnalysisIR, it

* is opensource (GPL3)
* truly cross platform (Java)
* decodes/encodes hundreds of protocol
* Generated protocols are extensible, using [IRP notation](

[2015-08-16 12:27] bengtmartensson commented on #200
Please consider [Girs](http://www.harctoolbox.org/Girs.html) as communication protocol between the Arduino and the host program. This is an attempt at a general "communication language" between "servers" and "clients", in order to achieve a certain universality.  (No need to invent a new communication protocol for every new hardware.)

Sure, the specification in the link contains a number of "hole

[2015-08-16 12:29] AnalysIR commented on #139
@pcoughlin Yes, IRLib is a more modern re-write of IRremote & after several iterations has added much more functionality & documentation. It would be great to see efforts merged.

[2015-08-16 18:33] z3t0 commented on #139
@pcoughlin @AnalysIR https://github.com/cyborg5/IRLib/issues/13

[2015-08-16 18:37] z3t0 commented on #199
@DaAwesomeP

That's the plan

[2015-08-16 18:41] z3t0 commented on #199
@bengtmartensson

Thanks for the reply, I will look into the project, as you said it seems to address most of my reasons for creating an alternative.

Sounds, good

Will take a look. Also, me and a few others have been thinking about merging efforts with @cyborg5, https://github.com/cyborg5/IRLib/issues/13

Sure.

@bengtmarten sson Would you be interested in creating an organization (I have alread

[2015-08-16 23:06] cyborg5 commented on #199
You do not need to send copies of all of this correspondence. I'm aware of your project and I wish you luck. You are free to use my library in whatever capacity is useful to you as long as you follow the GPL license. Eventually I get back into IR work and I will take a look at how your project is coming then.

From: Rafi Khan [mailto:notifications@github.com]
Sent: Sunday, August 16, 2015 2:42 PM

[2015-08-16 23:18] z3t0 commented on #199
Not too clear what you mean, if you are referring to being sent emails of updates on this issue it is most likely automatic because I had mentioned your name in the initial post.

Thank you very much, I appreciate it.

[2015-08-17 00:00] cyborg5 commented on #199
Your emails are sent to "z310/Arduino-IRremote@noreply.github.com" with a cc:"cy_borg5@cyborg5.com" as well. Just remove my name from the cc: field.

From: Rafi Khan [mailto:notifications@github.com]
Sent: Sunday, August 16, 2015 7:18 PM
To: z3t0/Arduino-IRremote <Arduino-IRremote@noreply.github.com>
Cc: Chris Young <cy_borg5@cyborg5.com>
Subject: Re: [Arduino-IRremote] Discussion: Open Source Alt

[2015-08-17 00:03] z3t0 commented on #199
Oh.. I certainly do not have you being cc’d in my email client… Maybe remove yourself from the Issue’s participants list?

[2015-08-17 07:52] bengtmartensson commented on #199
Sure, I would be interested. Although (of course) the statement is not an unconditional commitment...

[2015-08-17 09:47] renno-bih commented on #194
I tried two AC remotes so far, but both of them are recognized as NEC protocols, with length of 140 that is not true.
RAWBUF is set to 240.

What could be problem?

[2015-08-17 19:59] pcoughlin commented on #199
Unconditional Love is the only place I know that word works for me ...
And, Ben, I don't know you that well. LOL!

Basically just asking if you would want to participate/help.  No commitment needed.  We are identifying people who can lend incite (you're obviously able).  With any project, there are insiders and others that contribute from time to time.

[2015-08-17 20:00] z3t0 commented on #199
@bengtmartensson Agreed, no commitment needed. Just looking for people interested to lend a hand or some advice

[2015-08-18 10:42] renno-bih commented on #194
Hello @z3t0

I captured AC remote code using AnalysIR Arduino code. It is 279 length. So I copied these raw values into array that I'm sending using irsend.sendRaw function.
Here is a code I'm using
[code]

Then I use AnalysIR sketch to capture code that Arduino sent. Here is what I get:
[code]

I'm using last release of IRremote library.

Why sendRaw function sends only 23 ticks instead of 279 ti

[2015-08-18 11:11] AnalysIR commented on #194
@renno-bih
279-23 = 256

So sounds like an 8-bit byte limitation. i.e RAWBUF is defined as 8-bit in IRremote.

I quickly tested the output of your scetch on my oscilloscope & IRremote seems to be sending the full signal (279).

**My guess:** you still have IRremote firmware loaded on the arduino that is receiving the "23". Try to upload the firmware from our blog post again to that arduino....just

[2015-08-18 11:17] AnalysIR commented on #194
Oh and just one more thing...

your signal has a space of 19964 in the middle. To date IRremote hasn't supported this, so you would need to split the signal in half and put a delay(20) between each part.

(I believe there has been an update to remove this limitation in IRremote, which may not be in the official release yet)

[2015-08-18 11:59] renno-bih commented on #194
z3t0 says that this problem with long gaps is fixed....

No, I'm not using IRremote firmware to receive 279 long signal, I'm using your sketch. But IRrecivDump also detects it as 23 long signal.

So, here is what I'm doing...
I'm using your sketch to capture whole signal from AC remote, all 279 ticks. Then I copied these values into int array and then generated IR pulse using sendRaw function as y

[2015-08-18 13:35] AnalysIR commented on #194
I have an older version of IRremote configured and it seems to work fine (as per my scope), sending the '279' signal..

..provided you are using the **updated** code?

[2015-08-18 13:50] renno-bih commented on #194
Yep I'm using the latest build...with custom_delay_usec function.
I tried to delete some ticks from array. Now I'm sending 243 ticks and it works. So it is definitely 8-bit limitation.
@z3t0
Do you have any news about overcoming this limitation?

[2015-08-18 14:20] AnalysIR commented on #194
it seems that the **len** parameter has changed to unsigned char, instead of **unsigned int**

I also noticed that the **hz** parameter is now changed to 8 bits. In general, this is Ok, but if ever anyone wants to implement a 455kHz carrier, this will become a problem.

@renno-bih : While you are waiting you could change the parameters, as suggested above, test & report back. It is in the irSend.c

[2015-08-18 14:26] AnalysIR commented on #194
you will also have to change this line to unsigned int as well

...

[2015-08-18 16:30] z3t0 commented on #194
@renno-bih Try the change mentioned by Analysir, if that works I can push it upstream.

[2015-08-19 07:10] franhotmail commented on #185
Hi again, sorry by the delay I just change the RAWBUF from 101 to 401 and here you can see the result:

POWEROFF
3E2ADECE
Unknown encoding: 3E2ADECE (32 bits)
Raw (184): 18646 3350 -1400 600 -200 600 -1200 350 -200 600 -200 600 -1200 350 -200 600 -1250 300 -250 550 -200 100 -50 450 -1250 300 -1250 350 -1250 300 -250 50 -50 450 -1250 350 -400 350 -1250 350 -1250 300 -1250 350 -400 400 -400 350 -450

[2015-08-19 09:11] AnalysIR commented on #185
@franhotmail
it look like your IR receiver is struggling with this AC signal. What is the model # of your IR receiver?
data sheet link?

[2015-08-19 23:09] z3t0 commented on #199
@bengtmartensson I took a look at the projects you mentioned and they seem to have met many of the goals for this project. I will take a close look at the source code once I play around with it some more.

[2015-08-20 06:30] renno-bih commented on #194
Yep. tried the latest build by z3t0. It works now, it sends all 279 ticks.
Just need to try it in practice. I'll let you know as soon as I test.

[2015-08-20 06:33] z3t0 commented on #194
@renno-bih Cool, the latest build actually just included the changes mentioned by @AnalysIR . His pull request (containing those changes) fixed it.

[2015-08-20 06:34] z3t0 commented on #194
@renno-bih Once you have experimented around, can you share some information about different commands and what effect they have? Thanks! That way we can add support for the YORK AC

[2015-08-20 08:17] renno-bih commented on #194
IT WORKS :)

My YORK AC accepted code. But here is a problem....
It only works if I use AnalysIR sketch to capture 279 ticks long code and then use sendRaw function to emit code.

But when using IRrecvDump sketch it detects only 74 ticks (RAWBUF is set to 256). As I can see there is long tick (19960) at this position. By changing define _GAP  to 25000 it now detects longer code (140 ticks) but sti

[2015-08-20 14:29] AnalysIR commented on #194
@renno-bih   great, thanks for the update.

I checked the first signal you posted and it comes up on my system as Electrolux134AC (134 bit AC protocol)
Row: 1
Hex: 200B69029000200034016D203200105C8E
Binary:
00100000 00001011 01101001 00000010
10010000 00000000 00100000 00000000
00110100 00000001 01101101 00100000
00110010 00000000 00010000 01011100
10001110

Often AC (control) units are re-badged

[2015-08-20 17:55] z3t0 commented on #194
@renno-bih I am taking a new approach to the new library (IRSmartLib) where the "protocols" are really just sketches and such, this way we wont have a problem with memory since the sketches are meant to show how things work and be the main theme, this means that although they take more memory the user is aware of this and can modify it to suit their needs

[2015-08-20 19:01] bengtmartensson commented on #199
I am open to all constructive suggestions. Please also have a look at the issues, where I, in some cases in some detail, describe what I intend to do in the near future.